<section class="services bg-primary">
  <div class="container">
    <h2 class="secondary-h2 center">
      {{ module.services_heading }}
    </h2>


    <div class="services_row">
      {% for item in module.service_card_group %}
      <div class="services_col">

        <div class="service_col_image">
          {% if item.filter.src %}
          {% set sizeAttrs = 'width="{{ item.filter.width|escape_attr }}" height="{{ item.filter.height|escape_attr }}"' %}
          {% if item.filter.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.filter.width|escape_attr }}" height="{{ item.filter.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.filter.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.filter.max_width|escape_attr }}" height="{{ item.filter.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = item.filter.loading != 'disabled' ? 'loading="{{ item.filter.loading|escape_attr }}"' : '' %}
          <img src="{{ item.filter.src|escape_url }}" alt="{{ item.filter.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>

        <div class="service_col_content">
          {{ item.service_content }}
          <div class="para">
            {{ item.content }}
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>

</section>