{% if module.section_settings.show_hide_module %}

{% require_css %}
<style type="text/css">
  .{{ name }}{
    background-color: {{ module.section_settings.section_background_color.color }};
    padding: {{ module.section_settings.section_padding_top_and_bottom.top }}px 20px {{ module.section_settings.section_padding_top_and_bottom.bottom }}px;
  }
  {% for item in module.pricing_plan %}
  .matrix-column.featured-col .matrix-column-wrapper{
    background-color: {{ item.featured_color.color }};
  }
  {% endfor %}
  .matrix-column.featured-col .matrix-title{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .matrix-column.featured-col .matrix-title h4,
  .matrix-column.featured-col .price-calc a span,
  .matrix-column.featured-col .price-calc a,
  .matrix-column.featured-col .matrix-price-info .m-price,
  .matrix-column.featured-col .matrix-items-wrapper p,
  .matrix-column.featured-col .matrix-price-info .ptext{
    color: #fff;  
  }
  .matrix-column.featured-col .price-calc a span{
    background: #fff;
  }
  .matrix-column.featured-col .matrix-price-info{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .matrix-column.featured-col .pricing-cta a{
    background-color: #3b3838;
  }
</style>
{% end_require_css %}

<div class="pricing-section {{ name }}">
  <div class="maxContainer">
    <div class="heading-text">
      <h1>{{ module.main_heading_text }}</h1>
    </div>
    <div class="matrix-wrapper clearfix">
      {% for item in module.pricing_plan %}
      <div class="matrix-column {% if loop.index != 1 %}price-col{% endif %} {% if item.featured_column %}featured-col{% endif %} {{ item.custom_class }} {% if loop.index == 2 %}pricing2{% endif %} {% if loop.index == 3 %}pricing3{% endif %}">
        <div class="matrix-column-wrapper">
          <div class="matrix-title">
            {% if item.image.src %}
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ sizeAttrs }}>
            {% endif %}
            <h4>{{ item.heading_text }}</h4>
          </div>
          <div class="matrix-price-info">
            {% if item.monthly_annual_sec %}
            <div class="price-calc">
              <a href="#" class="monthly"><span></span>Monthly</a>
              <a href="#" class="annual"><span></span>Annual</a>
              {% if item.icon_discount.src %}
              <img src="{{ item.icon_discount.src }}" alt="{{ item.icon_discount.alt }}" {{ sizeAttrs }}>
              {% endif %}
              <div class="monthly-inter" style="display:none;">{{ item.monthly_interactions }}</div>
              <div class="discount-value" style="display:none;">{{ item.discount_value }}</div>
              <div class="original-monthly-price" style="display:none;">{{ item.price }}</div>
            </div>
            {% endif %}
            {% if item.price %}<div class="m-price"><!--<span class="from-text">from</span>--><span class="sign">$</span><span class="price-val">{{ item.price }}</span> {% if item.text1.text_per_month %}<span class="per-month">{{ item.text1.text_per_month }}</span>{% endif %}</div>{% endif %}
            <p class="ptext"><span class="year">{{ item.text1.text_annual }}</span><span class="month" style="display:none;">{{ item.text1.text_month }}</span></p>
            {% if item.enterprise_text %}<h3 ckass="e-text">{{ item.enterprise_text }}</h3>{% endif %}               

            {% if item.button.text %}
            <div class="pricing-cta"> 
              <a href="{{ item.button.url.href }}">{{ item.button.text }}</a>
            </div>
            {% endif %}

          </div>            

          <div class="matrix-items-wrapper">
            <div class="matrix-features">
              {% for item2 in item.featured_items1 %}
              <p class="exclude_{{ item2.exclude_item }}">{{ item2.featured_item }}</p>
              {% endfor %}

            </div>
            <div class="matrix-more-features">
              {% for item2 in item.more_featured_items1 %}
              <p class="exclude_{{ item2.exclude_item }}">{{ item2.featured_item }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-view-more">View <span class="more-text">more</span><span class="less-text">less</span></div>
      </div>
      {% endfor %}
    </div>
    <div class="view-more-sec">
      <div class="view-more">View <span class="more-text">more</span> <span class="less-text">less</span></div>
    </div>
  </div>
</div>

{% endif %}
