
.progress_bar_section .prog_item .item_inner {
  -webkit-box-shadow: 0 1px 10px rgb(68 68 68 / 8%);
  box-shadow: 0 1px 10px rgb(68 68 68 / 8%);
  margin-bottom: 20px;
  overflow: hidden;
  border-width: 0;
  border-style: solid;
  padding: 3px;
}

.progress_bar_section .prog_slider {
  width:5%;
  -webkit-transition: width 0.8s ease-out;
  -o-transition: width 0.8s ease-out;
  transition: width 0.8s ease-out;
}

.progress_bar_section .prog_slider .flex_row {
  width: 100%;
  position: relative;
  padding: 5px;
}

.progress_bar_section .prog_slider span.number {
  position: absolute;
  top: 0;
  right: 0;
  z-index:2;
  top: 2px;
  right: 2px;
  border-radius:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: bold;
  display: table;
  padding: 4px 8px;
  white-space: nowrap;
  font-size: 0.9em;
}

.progress_bar_section .items_lists .title {
  word-break: normal;
  position: relative;
  z-index:1;
}

.progress_bar_section .spacing {
  min-height: 54px;
  position: relative;
}

.progress_bar_section .prog_item .title{
  margin-bottom: 0.9rem;
}

.progress_bar_section .item_text > *:last-child {
  margin-bottom: 0;
}

.progress_bar_section .item_text .ut_richtext > *:last-child {
  margin-bottom: 0;
}

.progress_bar_section .prog_item .item_text {
  margin-bottom: 0.9rem;
}

.progress_bar_section .prog_slider span.number span {
  display: table-cell;
  vertical-align: middle;
}

@media(max-width:767px){
  .progress_bar_section .prog_slider {
    width: 18%;
  }
}