<!--
templateType: page
isAvailableForNewContent: true
label: Home Page
screenshotPath: ../images/template-previews/home-page.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}

<div class="banner_area home_page_v1_banner_area">
  {% dnd_area 'banner_area', label='Banner Section' ,class="top-dnd-area"  %}
  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/banner-slider",
        offset=0,
        width=12,
        slides_group=[ {
            "animations" : {
            "animation_type" : "fade-up",
            "enable_animation" : true
          },
          "background_options" : {
            "background_color" : {
              "color" : "#026780",
              "opacity" : 100
            },
            "background_image" : {
              "alt" : "about-banner",
              "height" : 780,
              "max_height" : 780,
              "max_width" : 1170,
              "src" : get_asset_url('../images/banner-images/home-banner.jpg') ,
              "width" : 1170
            },
            "enable_parallax" : false,
            "overlay_color" : {
              "color" : "#026780",
              "opacity" : 60
            },
            "select_background_type" : "image",
            "select_color" : [ {
              "color" : "#026780",
              "opacity" : 100
            }, {
              "color" : "#026780",
              "opacity" : 100
            } ],
            "select_gradient_direction" : "to top",
            "video_url" : "https://player.vimeo.com/video/842733575"
          },
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Get Started",
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "field_group" : {
            "animation_type" : "fade-up",
            "enable_animation" : true
          },
          "heading" : "Home Slide One",
          "select_content_alignment" : "text_center",
          "select_slider_heading_type" : "h1"
        }, {
            "animations" : {
            "animation_type" : "fade-left",
            "enable_animation" : true
          },
          "background_options" : {
            "background_color" : {
              "color" : "#026780",
              "opacity" : 100
            },
            "background_image" : {
              "alt" : "about-banner",
              "height" : 780,
              "max_height" : 780,
              "max_width" : 1170,
              "src" : get_asset_url('../images/image-background.jpg'),
              "width" : 1170
            },
            "enable_parallax" : false,
            "overlay_color" : {
              "color" : "#026780",
              "opacity" : 60
            },
            "select_background_type" : "image",
            "select_color" : [ {
              "color" : "#026780",
              "opacity" : 100
            }, {
              "color" : "#026780",
              "opacity" : 100
            } ],
            "select_gradient_direction" : "to top",
            "video_url" : "https://player.vimeo.com/video/842733575"
          },
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "field_group" : {
            "animation_type" : "fade-left",
            "enable_animation" : true
          },
          "heading" : "Home Slide Two",
          "select_content_alignment" : "text_left",
          "select_slider_heading_type" : "h1"
        }, {
            "animations" : {
            "animation_type" : "fade-right",
            "enable_animation" : true
          },
          "background_options" : {
            "background_color" : {
              "color" : "#026780",
              "opacity" : 100
            },
            "background_image" : {
              "alt" : "about-banner",
              "height" : 780,
              "max_height" : 780,
              "max_width" : 1170,
              "src" :  get_asset_url('../images/background-overlay.jpg') ,
              "width" : 1170
            },
            "enable_parallax" : false,
            "overlay_color" : {
              "color" : "#026780",
              "opacity" : 60
            },
            "select_background_type" : "image",
            "select_color" : [ {
              "color" : "#026780",
              "opacity" : 100
            }, {
              "color" : "#026780",
              "opacity" : 100
            } ],
            "select_gradient_direction" : "to top",
            "video_url" : "https://player.vimeo.com/video/842733575"
          },
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "View More",
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std"
          }, {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Get Started",
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "field_group" : {
            "animation_type" : "fade-right",
            "enable_animation" : true
          },
           "heading" : "Home Slide Three",
          "select_content_alignment" : "text_right",
          "select_slider_heading_type" : "h1"
        }, {
            "animations" : {
            "animation_type" : "fade-up",
            "enable_animation" : true
          },
          "background_options" : {
            "background_color" : {
              "color" : "#026780",
              "opacity" : 100
            },
            "background_image" : {
              "alt" : "about-banner",
              "height" : 780,
              "max_height" : 780,
              "max_width" : 1170,
             "src" : get_asset_url('../images/team_banner.jpg') ,
              "width" : 1170
            },
            "enable_parallax" : false,
            "overlay_color" : {
              "color" : "#026780",
              "opacity" : 60
            },
            "select_background_type" : "image",
            "select_color" : [ {
              "color" : "#026780",
              "opacity" : 100
            }, {
              "color" : "#026780",
              "opacity" : 100
            } ],
            "select_gradient_direction" : "to top",
            "video_url" : "https://player.vimeo.com/video/842733575"
          },
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Get Started",
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "field_group" : {
            "animation_type" : "fade-up",
            "enable_animation" : true
          },
           "heading" : "Home Slide Four",
          "select_content_alignment" : "text_left",
          "select_slider_heading_type" : "h1"
        } ],
        slider_setting={
          "loop" : true,
          "navigation" : false,
          "navigator_alignment" : "right"
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {% end_dnd_area %}
</div>

{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper home_page_v1_page">
  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd__area_1' class='home_dnd_area_Top middle-dnd-area', label='Top Section' %}
  {% end_dnd_area %}

  {% dnd_area 'dnd__area_2' class='home_dnd_area_Main main-dnd-area', label='Main Section' %}
  {% include_dnd_partial path="../sections/card-slider-section.html" %}  


  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/logo-slider",
        offset=0,
        width=12,
        module_settings={
            "enable_slider" : true,
          "change_inner_container_width" : true,
          "include_grayscale_on_image" : true,
          "inner_container_width" : 77,
          "slider_options" : {
            "autoplay" : true
          }
        },
        slides_group=[ {
          "image" : {
            "alt" : "Ddot",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/ddot.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Mcdonald",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/mcdonald.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Apple",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/apple.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Dell",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/dell.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Netflix",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/netflix.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Windows",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/windows.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Dell",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/dell.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Cannon",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/cannon.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        } ],
        style={
          "spacing" : {
            "spacing" : {
              "padding" : {
                "bottom" : { },
                "left" : { },
                "right" : { },
                "top" : {
                  "units" : "px",
                  "value" : 50
                }
              }
            }
          }
        },
        top_content={
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "title" : "Brands That Trust Us"
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}

  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/two-column-content",
        offset=0,
        width=12,
        module_settings={
          "content_animation_type" : "fade-right",
          "media_animation_type" : "fade-left",
          "content_alignment" : "left",
          "left_column_width" : "7",
          "right_column_width" : "5"
        },
        style={
          "background" : {
            "background_color" : {
              "color" : "#F0F1F2",
              "opacity" : 100
            },
            "select_background_theme" : "",
            "select_background_type" : ""
          },
          "spacing" : {
            "change_mobile_spacing" : true,
            "mobile_spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 60
                },
                "left" : { },
                "right" : { },
                "top" : {
                  "units" : "px",
                  "value" : 60
                }
              }
            },
            "spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 75
                },
                "left" : { },
                "right" : { },
                "top" : {
                  "units" : "px",
                  "value" : 75
                }
              }
            }
          }
        },
        left_column={
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std"
          } ],
          "content" : "<h5>About Us</h5> <h2>What We Do</h2> <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "features" : [ {
            "content_type" : "num",
            "image_field_1" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "suffix" : "+",
            "title" : "Years Of Experiences",
            "value" : "15"
          } ],
          "include_features" : false
        },
        right_column={
          "image_content" : {
            "cover_the_image" : false,
            "image_field" : {
              "alt" : "What we do",
              "src" :  get_asset_url('../images/what-we--do.jpg')
            },
            "number_of_image" : "single"
          },
          "select_media_type" : "image"
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
padding={
  "default" : {
    "bottom" : "0px",
    "top" : "0px"
  }
},
full_width=true
%}
  {% dnd_column
  offset=0,
  width=12
%}
  {% dnd_row %}
  {% dnd_module
      path="../modules/team",
      offset=0,
      width=12,
      top_content={
        "button_group" : [ ]
      },
      button_group=[ ],
      team_group=[ {
        "button_color_theme" : "hs-button",
        "enable_link" : true,
        "link_field" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "member_bio" : "<p>It is a long established fact that a reader will be distracted by when looking at its layout.</p>",
        "member_designation" : "Account Executive",
        "member_image" : {
          "alt" : "Bessie Cooper",
          "height" : 258,
          "max_height" : 258,
          "max_width" : 177,
          "src" : get_asset_url('../images/bessie-cooper.png'),
          "width" : 177
        },
        "member_name" : "Bessie Cooper",
        "read_more_text" : "Read More",
        "social_group" : [ {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Facebook F",
            "type" : "REGULAR",
            "unicode" : "f39e"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Instagram",
            "type" : "REGULAR",
            "unicode" : "f16d"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Twitter",
            "type" : "REGULAR",
            "unicode" : "f099"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "LinkedIn In",
            "type" : "REGULAR",
            "unicode" : "f0e1"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        } ]
      }, {
        "button_color_theme" : "hs-button",
        "enable_link" : true,
        "link_field" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "member_bio" : "<p>It is a long established fact that a reader will be distracted by when looking at its layout.</p>",
        "member_designation" : "Senior UX/UI designer",
        "member_image" : {
          "alt" : "Albert Flores",
          "height" : 258,
          "max_height" : 258,
          "max_width" : 177,
          "src" : get_asset_url('../images/albert-flores.png'),
          "width" : 177
        },
        "member_name" : "Albert Flores",
        "read_more_text" : "Read More",
        "social_group" : [ {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Facebook F",
            "type" : "REGULAR",
            "unicode" : "f39e"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Instagram",
            "type" : "REGULAR",
            "unicode" : "f16d"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Twitter",
            "type" : "REGULAR",
            "unicode" : "f099"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "LinkedIn In",
            "type" : "REGULAR",
            "unicode" : "f0e1"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        } ]
      }, {
        "button_color_theme" : "hs-button",
        "enable_link" : true,
        "link_field" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "member_bio" : "<p>It is a long established fact that a reader will be distracted by when looking at its layout.</p>",
        "member_designation" : "Enterprise Mobility Expert",
        "member_image" : {
          "alt" : "Savannah Nguyen",
          "height" : 258,
          "max_height" : 258,
          "max_width" : 177,
          "src" : get_asset_url('../images/savannah-nguyen.png'),
          "width" : 177
        },
        "member_name" : "Savannah Nguyen",
        "read_more_text" : "Read More",
        "social_group" : [ {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Facebook F",
            "type" : "REGULAR",
            "unicode" : "f39e"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Instagram",
            "type" : "REGULAR",
            "unicode" : "f16d"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Twitter",
            "type" : "REGULAR",
            "unicode" : "f099"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "LinkedIn In",
            "type" : "REGULAR",
            "unicode" : "f0e1"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        } ]
      }, {
        "button_color_theme" : "hs-button",
        "enable_link" : true,
        "link_field" : {
          "no_follow" : false,
          "open_in_new_tab" : false,
          "url" : {
            "href" : "",
            "type" : "EXTERNAL"
          }
        },
        "member_bio" : "<p>It is a long established fact that a reader will be distracted by when looking at its layout.</p>",
        "member_designation" : "Marketing Manager",
        "member_image" : {
          "alt" : "Darrell Steward",
          "height" : 258,
          "max_height" : 258,
          "max_width" : 177,
          "src" : get_asset_url('../images/darrell-steward.png'),
          "width" : 177
        },
        "member_name" : "Darrell Steward",
        "read_more_text" : "Read More",
        "social_group" : [ {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Facebook F",
            "type" : "REGULAR",
            "unicode" : "f39e"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Instagram",
            "type" : "REGULAR",
            "unicode" : "f16d"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "Twitter",
            "type" : "REGULAR",
            "unicode" : "f099"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "background_color" : {
            "color" : "#FFF9FC",
            "opacity" : 100
          },
          "icon_field" : {
            "name" : "LinkedIn In",
            "type" : "REGULAR",
            "unicode" : "f0e1"
          },
          "link_field" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        } ]
      } ]
    %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %} 



  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/content-with-background",
        offset=0,
        width=12,
        background_options={
          "background_image" : {
            "alt" : "Background image",
            "height" : 219,
            "max_height" : 219,
            "max_width" : 370,
            "src" : get_asset_url('../images/image-background.jpg') ,
            "width" : 370
          },
          "overlay_color" : {
            "color" : "#026780",
            "opacity" : 50
          },
           "background_image_position" : "center center",
        },
        title="Here You See Our Showreel",
        button_group=[ ],
        style={
          "container" : {
            "custom_width" : 560,
            "select_size" : "custom"
          },
          "spacing" : {
            "spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 162
                },
                "left" : { },
                "right" : { },
                "top" : {
                  "units" : "px",
                  "value" : 162
                }
              }
            }
          }
        }
      %}
  {% module_attribute "content_rich" %}
  <div>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
  {% end_module_attribute %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}

  {% include_dnd_partial path="../sections/testimonials-slider-section.html" %}


  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/blog-feed",
        offset=0,
        width=12,
        button_group=[ ],
        top_content={
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "See All",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "select_title_tag" : "h2",
          "title" : "Recent Blog"
        },
        style={
          "spacing" : {
            "spacing" : {
              "padding" : {
                "bottom" : { },
                "left" : { },
                "right" : { },
                "top" : {
                  "units" : "px",
                  "value" : 0
                }
              }
            }
          },
             "card" : {
            "select_title_type" : "h4"
          }
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}

  {% end_dnd_area %}

  {% dnd_area 'dnd__area_3' class='home_dnd_area_Bottom', label='Bottom section' %}
  {% include_dnd_partial path="../sections/bottom-pane-section.html" %}
  {% end_dnd_area %}
</main>
{% endblock body %}