<!--
templateType: page
isAvailableForNewContent: true
label: Home Page V3
screenshotPath: ../images/template-previews/home-page-v3.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}
<div class="banner_area home_page_v3_banner_area">
  {% dnd_area 'header_area', label='Banner Section' ,class="top-dnd-area" %}
  {% dnd_section
  padding={
    "default" : {
      "bottom" : "0px",
      "left" : "0px",
      "right" : "0px",
      "top" : "0px"
    }
  },
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/banner-slider",
        offset=0,
        width=12,
        slider_setting={
          "autoplay" : true,
          "navigation" : false,
          "navigation_group" : {
            "pagination_type" : "arrows"
          },
          "navigator_alignment" : "bottom",
          "select_navigator_type" : "square_bullets"
        },
        slides_group=[ {
          "animations" : {
            "animation_type" : "fade-up",
            "enable_animation" : true
          },
          "background_options" : {
            "background_color" : {
              "color" : "#026780",
              "opacity" : 100
            },
            "background_image" : {
              "src" : ""
            },
            "background_image_position" : "center center",
            "enable_parallax" : false,
            "overlay_color" : {
              "color" : "#026780",
              "opacity" : 30
            },
            "select_background_type" : "video",
            "select_color" : [ {
              "color" : "#026780",
              "opacity" : 100
            }, {
              "color" : "#026780",
              "opacity" : 100
            } ],
            "select_gradient_direction" : "to top",
            "select_video_type" : "external",
            "video_url" : "https://player.vimeo.com/video/842733575"
          },
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Get Started",
            "popup_content" : "<h3>Add content here</h3><h6>Add content here</h6>",
            "popup_styles" : {
              "background_color" : {
                "color" : "#FFF",
                "opacity" : 100
              },
              "color" : {
                "color" : "#fff",
                "opacity" : 100
              },
              "select_background_theme" : "custom",
              "select_color_theme" : "theme"
            },
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std",
            "select_form" : {
              "message" : "Thanks for submitting the form.",
              "response_type" : "inline"
            },
            "video_url" : "https://player.vimeo.com/video/842733575"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "heading" : "Home Slide One",
          "select_content_alignment" : "text_center",
          "select_slider_heading_type" : "h1"
        }, {
          "animations" : {
            "animation_type" : "fade-up",
            "enable_animation" : true
          },
          "background_options" : {
            "background_color" : {
              "color" : "#026780",
              "opacity" : 100
            },
            "background_image" : {
              "alt" : "Home V3 Banner",
              "height" : 373,
              "max_height" : 373,
              "max_width" : 477,
              "src" : get_asset_url('../images/banner-images/home-v3-banner.jpg'),
              "width" : 477
            },
            "background_image_position" : "center center",
            "enable_parallax" : false,
            "overlay_color" : {
              "color" : "#026780",
              "opacity" : 30
            },
            "select_background_type" : "image",
            "select_color" : [ {
              "color" : "#026780",
              "opacity" : 100
            }, {
              "color" : "#026780",
              "opacity" : 100
            } ],
            "select_gradient_direction" : "to top",
            "video_url" : "https://player.vimeo.com/video/842733575"
          },
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Get Started",
            "popup_content" : "<h3>Add content here</h3><h6>Add content here</h6>",
            "popup_styles" : {
              "background_color" : {
                "color" : "#FFF",
                "opacity" : 100
              },
              "color" : {
                "color" : "#fff",
                "opacity" : 100
              },
              "select_background_theme" : "custom",
              "select_color_theme" : "theme"
            },
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std",
            "select_form" : {
              "response_type" : "inline"
            },
            "video_url" : "https://player.vimeo.com/video/842733575"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "heading" : "Home Slide Two",
          "select_content_alignment" : "text_left",
          "select_slider_heading_type" : "h1"
        }, {
          "animations" : {
            "animation_type" : "fade-up",
            "enable_animation" : true
          },
          "background_options" : {
            "background_color" : {
              "color" : "#026780",
              "opacity" : 100
            },
            "background_image" : {
              "src" : ""
            },
            "background_image_position" : "center center",
            "enable_parallax" : false,
            "overlay_color" : {
              "color" : "#026780",
              "opacity" : 30
            },
            "select_background_type" : "gradient",
            "select_color" : [ {
              "color" : "#026780",
              "opacity" : 10
            }, {
              "color" : "#026780",
              "opacity" : 50
            } ],
            "select_gradient_direction" : "to right",
            "video_url" : "https://player.vimeo.com/video/842733575"
          },
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Get Started",
            "popup_content" : "<h3>Add content here</h3><h6>Add content here</h6>",
            "popup_styles" : {
              "background_color" : {
                "color" : "#FFF",
                "opacity" : 100
              },
              "color" : {
                "color" : "#fff",
                "opacity" : 100
              },
              "select_background_theme" : "custom",
              "select_color_theme" : "theme"
            },
            "select_button_theme" : "hs-sec-btn",
            "select_button_type" : "std",
            "select_form" : {
              "message" : "Thanks for submitting the form.",
              "response_type" : "inline"
            },
            "video_url" : "https://player.vimeo.com/video/842733575"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "heading" : "Home Slide Three",
          "select_content_alignment" : "text_center",
          "select_slider_heading_type" : "h1"
        } ],
        module_settings={
          "banner_height" : "fullheight"
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {% end_dnd_area %}
</div>

{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper home_page_v3_page">
  {# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}
  {% dnd_area 'dnd__area_1' class='home_dnd_area_Top middle-dnd-area', label='Top Section' %}


  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/logo-slider",
        offset=0,
        width=12,
        module_settings={
            "enable_slider" : true,
          "change_inner_container_width" : true,
          "include_grayscale_on_image" : true,
          "inner_container_width" : 77,
          "slider_options" : {
            "autoplay" : true
          }
        },
         slides_group=[ {
          "image" : {
            "alt" : "Ddot",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/ddot.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Mcdonald",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/mcdonald.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Apple",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/apple.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Dell",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/dell.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Netflix",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/netflix.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Windows",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/windows.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Dell",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/dell.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        }, {
          "image" : {
            "alt" : "Cannon",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/logos/cannon.png'),
            "width" : 60
          },
          "include_link" : false,
          "link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          }
        } ],
        top_content={
          "button_group" : [ ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "title" : "Brands That Trust Us"
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area 'dnd__area_2' class='home_dnd_area_Main main-dnd-area', label='Main Section' %}

  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/service-features",
        offset=0,
        width=12,
        button_group=[ {
          "button_link" : {
            "no_follow" : false,
            "open_in_new_tab" : false,
            "url" : {
              "href" : "",
              "type" : "EXTERNAL"
            }
          },
          "button_text" : "Explore More",
          "select_button_theme" : "hs-button",
          "select_button_type" : "std"
        } ],
        features_group=[ {
           "image" : {
            "alt" : "Employees",
            "height" : 60,
            "loading" : "lazy",
            "max_height" : 60,
            "max_width" : 78,
            "size_type" : "auto",
            "src" : get_asset_url('../images/employee.svg') ,
            "width" : 78
          },
          "select_icon" : {
            "name" : "Code",
            "type" : "SOLID",
            "unicode" : "f121"
          },
          "select_icon_type" : "image",
          "suffix" : "+",
          "title" : "Employees",
          "value" : 400
        }, {
         "image" : {
            "alt" : "Happy Clients",
            "height" : 60,
            "loading" : "lazy",
            "max_height" : 60,
            "max_width" : 78,
            "size_type" : "auto",
            "src" :  get_asset_url('../images/client_happy.svg') ,
            "width" : 78
          },
          "select_icon" : {
            "name" : "Code",
            "type" : "SOLID",
            "unicode" : "f121"
          },
          "select_icon_type" : "image",
          "suffix" : "+",
          "title" : "Happy Clients",
          "value" : 500
        }, {
         "image" : {
            "alt" : "Cups Of Coffee",
            "height" : 60,
            "loading" : "lazy",
            "max_height" : 60,
            "max_width" : 78,
            "size_type" : "auto",
            "src" :  get_asset_url('../images/coffee-cup-svg.svg'),
            "width" : 78
          },
          "select_icon" : {
            "name" : "Code",
            "type" : "SOLID",
            "unicode" : "f121"
          },
          "select_icon_type" : "image",
          "suffix" : "+",
          "title" : "Cups Of Coffee",
          "value" : 1500
        }, {
            "image" : {
            "alt" : "Projects Done",
            "height" : 60,
            "loading" : "lazy",
            "max_height" : 60,
            "max_width" : 78,
            "size_type" : "auto",
            "src" :  get_asset_url('../images/code.svg'),
            "width" : 78
          },
          "select_icon" : {
            "name" : "Code",
            "type" : "SOLID",
            "unicode" : "f121"
          },
          "select_icon_type" : "image",
          "suffix" : "+",
          "title" : "Projects Done",
          "value" : 4500
        } ]
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}

  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/card-gallery",
        offset=0,
        width=12,
           top_content={
          "button_group" : [ ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "title" : "Our Best Features For You"
        },
        items_group=[ {
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "icon_image" : {
          "alt" : "Speakers",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 40,
            "size_type" : "auto",
           "src" : get_asset_url('../images/icon-images/megaphone.svg'),
            "width" : 40
          },
          "image_border_radius" : 0,
          "item_settings" : {
            "background_image" : {
              "src" : ""
            },
            "background_opacity" : 100,
            "content_color" : {
              "color" : "#FFF",
              "opacity" : 100
            },
            "icon_settings" : {
              "icon_background_color" : {
                "color" : "#F8FDFF",
                "opacity" : 100
              },
              "icon_color" : {
                "color" : "#026780",
                "opacity" : 100
              },
              "icon_hover_background_color" : {
                "color" : "#F8FDFF",
                "opacity" : 100
              },
              "icon_hover_color" : {
                "color" : "#026780",
                "opacity" : 100
              },
              "select_icon_background_color" : "custom",
              "select_icon_color" : "bg_secondary",
              "select_icon_hover_background_color" : "",
              "select_icon_hover_color" : ""
            },
            "overlay_background_color" : {
              "color" : "#026780",
              "opacity" : 75
            },
            "select_hover_content_color" : "custom",
            "select_overlay_background_color" : "bg_primary"
          },
          "select_icon" : { },
         "select_icon_type" : "image",
     "title" : "After-Sale Consultation"
        }, {
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "icon_image" : {
           "alt" : "Media",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 40,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icon-images/video.svg'),
            "width" : 40
          },
          "image_border_radius" : 0,
          "item_settings" : {
            "background_image" : {
              "src" : ""
            },
            "background_opacity" : 100,
            "content_color" : {
              "color" : "#FFF",
              "opacity" : 100
            },
            "icon_settings" : {
              "icon_background_color" : {
                "color" : "#F8FDFF",
                "opacity" : 100
              },
              "icon_color" : {
                "color" : "#026780",
                "opacity" : 100
              },
              "icon_hover_background_color" : {
                "color" : "#F8FDFF",
                "opacity" : 100
              },
              "icon_hover_color" : {
                "color" : "#026780",
                "opacity" : 100
              },
              "select_icon_background_color" : "custom",
              "select_icon_color" : "bg_secondary",
              "select_icon_hover_background_color" : "",
              "select_icon_hover_color" : ""
            },
            "overlay_background_color" : {
              "color" : "#026780",
              "opacity" : 75
            },
            "select_hover_content_color" : "custom",
            "select_overlay_background_color" : "bg_primary"
          },
          "select_icon" : { },
                 "select_icon_type" : "image",
              "title" : "Pre-Purchase Consultation"
        }, {
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "icon_image" : {
            "alt" : "Shield",
            "height" : 40,
            "loading" : "lazy",
            "max_height" : 40,
            "max_width" : 40,
            "size_type" : "auto",
            "src" : get_asset_url('../images/icon-images/shield.svg'),
            "width" : 40
          },
          "image_border_radius" : 0,
          "item_settings" : {
            "background_image" : {
              "src" : ""
            },
            "background_opacity" : 100,
            "content_color" : {
              "color" : "#FFF",
              "opacity" : 100
            },
            "icon_settings" : {
              "icon_background_color" : {
                "color" : "#F8FDFF",
                "opacity" : 100
              },
              "icon_color" : {
                "color" : "#026780",
                "opacity" : 100
              },
              "icon_hover_background_color" : {
                "color" : "#F8FDFF",
                "opacity" : 100
              },
              "icon_hover_color" : {
                "color" : "#026780",
                "opacity" : 100
              },
              "select_icon_background_color" : "custom",
              "select_icon_color" : "bg_secondary",
              "select_icon_hover_background_color" : "",
              "select_icon_hover_color" : ""
            },
            "overlay_background_color" : {
              "color" : "#026780",
              "opacity" : 75
            },
            "select_hover_content_color" : "custom",
            "select_overlay_background_color" : "bg_primary"
          },
          "select_icon" : { },
          "select_icon_type" : "image",
     "title" : "Your Purchase is Refundable"
        } ],

        module_settings={
          "enable_slider" : true,
          "include_hover_effect" : true,
          "slider_options" : {
            "arrows" : false,
            "autoplay" : true
          }
        },
        style={
          "card" : {
            "include_hover_effect" : true,
            "include_shadow_effect" : true
          },
          "spacing" : {
            "change_mobile_spacing" : true,
            "mobile_spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 50
                },
                "left" : { },
                "right" : { },
                "top" : {
                  "units" : "px",
                  "value" : 50
                }
              }
            },
            "spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 50
                },
                "left" : { },
                "right" : { },
                "top" : { }
              }
            }
          }
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/gallery-section",
        offset=0,
        width=12,
        top_content={
          "button_group" : [ ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "title" : "Our Memorable Gallery"
        },
        gallery_items=[ {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
            "alt" : "Slide One",
            "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
            "src" :  get_asset_url('../images/project-images/gallery_img1.jpg') ,
            "width" : 640
          },
          "thumbnail_image" : {
            "alt" : "Slide One",
            "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
            "src" :  get_asset_url('../images/project-images/gallery_img_thumb1.png') ,
            "width" : 640
          },
          "title" : ""
        }, {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
              "alt" : "Slide Two",
              "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
              "src" :  get_asset_url('../images/project-images/gallery_img2.jpg') ,
              "width" : 640
          },
          "thumbnail_image" : {
            "alt" : "Slide Two",
              "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
              "src" :  get_asset_url('../images/project-images/gallery_img_thumb2.png') ,
              "width" : 640
          },
          "title" : ""
        }, {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
            "alt" : "Slide Three",
             "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img3.jpg') ,
            "width" : 265
          },
          "thumbnail_image" : {
            "alt" : "Slide Three",
             "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img_thumb3.png') ,
            "width" : 265
          },
          "title" : ""
        }, {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
         "alt" : "Slide Four",
              "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img4.jpg') ,
              "width" : 640
          },
          "thumbnail_image" : {
            "alt" : "Slide Four",
              "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img_thumb4.png') ,
              "width" : 640
          },
          "title" : ""
        }, {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
            "alt" : "Slide Five",
          "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
              "src" :  get_asset_url('../images/project-images/gallery_img5.jpg') ,
            "width" : 265
          },
          "thumbnail_image" : {
            "alt" : "Slide Five",
          "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
              "src" :  get_asset_url('../images/project-images/gallery_img_thumb5.png') ,
            "width" : 265
          },
          "title" : ""
        }, {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
              "alt" : "Slide Six",
              "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img6.jpg') ,
        "width" : 640
          },
          "thumbnail_image" : {
            "alt" : "Slide Six",
              "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img_thumb6.png') ,
        "width" : 640
          },
          "title" : ""
        }, {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
           "alt" : "Slide Seven",
            "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img7.jpg') ,
             "width" : 640
          },
          "thumbnail_image" : {
            "alt" : "Slide Seven",
            "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img_thumb7.png') ,
             "width" : 640
          },
          "title" : ""
        }, {
          "caption_content" : "<h3>Caption</h3>",
          "change_lightbox_image" : true,
          "lightbox_image" : {
            "alt" : "Slide Eight",
             "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img1.jpg') ,
            "width" : 640
          },
          "thumbnail_image" : {
            "alt" : "Slide Eight",
             "height" : 640,
            "loading" : "lazy",
            "max_height" : 640,
            "max_width" : 640,
            "size_type" : "auto",
             "src" :  get_asset_url('../images/project-images/gallery_img_thumb1.png') ,
            "width" : 640
          },
          "title" : ""
        } ],
        button_group=[ ],
           style={
          "card_section" : {
            "border_radius" : 4
          }
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/testimonials",
        offset=0,
        width=12,
        module_settings={
          "enable_masonry" : false,
          "enable_slider" : true,
          "slider_options" : {
            "autoplay" : true
          }
        },
        style={
          "card_styles" : {
            "add_seprator" : true
          }
        },
        testimonials_group=[ {
          "add_rating" : false,
          "auth_name" : "Ronald Richards",
          "button_group" : {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          },
          "designation" : "Sales Manager",
          "image" : {
            "alt" : "Ronald Richards",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/author/Ronald-Richards.jpg'),
            "width" : 60
          },
          "quote" : "“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.”",
          "rating" : "5"
        }, {
          "add_rating" : false,
          "auth_name" : "Wade Warren",
          "button_group" : {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          },
          "designation" : "Account Executive",
          "image" : {
            "alt" : "Ronald Richards",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/author/Wade-Warren.jpg'),
            "width" : 60
          },
          "quote" : "“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.”",
          "rating" : "5"
        }, {
          "add_rating" : false,
          "auth_name" : "Robert Fox",
          "button_group" : {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          },
          "designation" : "Finance Assistant",
          "image" : {
            "alt" : "Ronald Richards",
            "height" : 60,
            "loading" : "lazy",
            "size_type" : "exact",
            "src" : get_asset_url('../images/author/Robert-Fox.jpg'),
            "width" : 60
          },
          "quote" : "“It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.”",
          "rating" : "5"
        } ],
        top_content={
          "title" : "What Our Clients Say"
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/content-with-background",
        offset=0,
        width=12,
        background_options={
          "background_image" : {
            "alt" : "work",
            "height" : 219,
            "max_height" : 219,
            "max_width" : 370,
            "src" : get_asset_url('../images/image-background.jpg') ,
            "width" : 370
          },
          "overlay_color" : {
            "color" : "#026780",
            "opacity" : 50
          },
           "background_image_position" : "center center",
        },
        title="Here You See Our Showreel",
        button_group=[ ],
        style={
          "container" : {
            "custom_width" : 560,
            "select_size" : "custom"
          },
          "spacing" : {
            "spacing" : {
              "padding" : {
                "bottom" : {
                  "units" : "px",
                  "value" : 162
                },
                "left" : { },
                "right" : { },
                "top" : {
                  "units" : "px",
                  "value" : 162
                }
              }
            }
          }
        }
      %}
  {% module_attribute "content_rich" %}
  <div>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
  {% end_module_attribute %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}


  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/blog-feed",
        offset=0,
        width=12,
        button_group=[ ],
        top_content={
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "See All",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          } ],
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>",
          "select_title_tag" : "h2",
          "title" : "Our Latest Blog"
        },
        feed_settings={
          "select_blog_theme" : "theme2",
          "select_icon_color_theme" : "custom"
        }
            style={
          "card" : {
            "select_title_type" : "h4"
          }
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}



  {% end_dnd_area %}
  {% dnd_area 'dnd__area_3' class='home_dnd_area_Bottom bottom-dnd-area', label='Bottom Section' %}
  {% include_dnd_partial path="../sections/bottom-pane-section.html" %} 
  {% end_dnd_area %}
</main>
{% endblock body %}
