<!--
templateType: page
isAvailableForNewContent: true
label: Portfolio Page
screenshotPath: ../images/template-previews/portfolio-page.jpg
-->
{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper portfolio_page_v1">
  {% dnd_area 'header_area', label='Header Section' ,class="top-dnd-area" %}
  {% dnd_section
  padding={
    "default" : {
      "bottom" : "0px",
      "left" : "0px",
      "right" : "0px",
      "top" : "0px"
    }
  },
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/banner",
        offset=0,
        width=12,
        background_options={
          "background_image" : {
            "alt" : "Union",
            "height" : 976,
            "max_height" : 976,
            "max_width" : 2160,
            "src" : get_asset_url('../images/this-is-engineering-raeng.jpg'),
            "width" : 2160
          },
          "overlay_color" : {
            "color" : "#026780",
            "opacity" : 50
          },
          "select_background_type" : "image"
        },
        breadcrumb_menu=,
        include_breadcrumb=true,
        module_settings={
          "animation_type" : "fade-up"
        },
        style={
          "container" : {
            "select_size" : "theme_center"
          }
        }
      %}
  {% module_attribute "banner_content" %}
  <h1>Portfolio</h1>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
  {% end_module_attribute %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {% end_dnd_area %}
  {% dnd_area 'main_area', label='Main Section' ,class="main-dnd-area" %}
  {% dnd_section
  padding={
    "default" : {
      "bottom" : "0px",
      "top" : "0px"
    }
  }
%}
  {% dnd_column
    offset=0,
    width=12,
    padding={
      "default" : {
        "left" : "0px",
        "right" : "0px"
      }
    }
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/two-column-content",
        offset=0,
        width=12,
        left_column={
          "button_group" : [ {
            "button_link" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "button_text" : "Learn More",
            "select_button_theme" : "hs-button",
            "select_button_type" : "std"
          } ],
          "content" : "<h5><span>Portfolio</span></h5><h2><span>How We Start Our Project?</span></h2><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
          "content_alignment" : "text_left",
          "features" : [ {
            "content_type" : "num",
            "image_field_1" : {
              "loading" : "lazy",
              "size_type" : "auto",
              "src" : ""
            },
            "suffix" : "+",
            "title" : "Years Of Experiences",
            "value" : "15"
          } ],
          "include_features" : false
        },
        right_column={
          "image_content" : {
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('./../images/matter_portfolio.jpg'),
              "width" : 1920
            }
          }
        },
        style={
          "spacing" : {
            "spacing" : {
              "padding" : {
                "bottom" : {},
                "left" : { },
                "right" : { },
                "top" : { }
              }
            }
          },
          "background" : {
            "select_background_theme" : "",
            "select_background_type" : ""
          }
        },
        module_settings={
          "left_column_width" : "7",
          "right_column_width" : "5"
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/content-filter",
        offset=0,
        width=12,
        card_group={
          "cards" : [
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "DevOps",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_1.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          },
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "DevOps",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_2.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          }, {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "Application Development",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_3.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          }, {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "Web Development",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_4.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          }, {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "Mobile Application",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_5.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          }, {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "User Interface Design",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_6.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          },
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "User Interface Design",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_7.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          },
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "User Interface Design",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_8.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          },
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "User Interface Design",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_9.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          },
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "User Interface Design",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_10.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          },
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "User Interface Design",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_11.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          },
          {
            "button_group" : [ {
              "button_link" : {
                "no_follow" : false,
                "open_in_new_tab" : false,
                "url" : {
                  "href" : "",
                  "type" : "EXTERNAL"
                }
              },
              "button_text" : "View Project",
              "select_button_theme" : "hs-sec-btn",
              "select_button_type" : "std"
            } ],
            "category" : "User Interface Design",
            "content" : "<p>It is a long established fact that a reader will be distracted.</p>",
            "image_field" : {
              "alt" : "contact_bannerV2",
              "height" : 1280,
              "loading" : "lazy",
              "max_height" : 1280,
              "max_width" : 1920,
              "size_type" : "auto",
              "src" : get_asset_url('../images/project-images/gallery_12.jpg'),
              "width" : 1920
            },
            "link_field" : {
              "no_follow" : false,
              "open_in_new_tab" : false,
              "url" : {
                "href" : "",
                "type" : "EXTERNAL"
              }
            },
            "read_more_text" : "Read More",
            "title" : "Lorem Ipsum has been."
          }
          ],
          "include_all_text" : true
        },
        module_settings={
          "color" : {
            "color" : "#FFF",
            "opacity" : 100
          },
          "overlay_color" : {
            "color" : "#026780",
            "opacity" : 60
          },
          "select_card_color" : "custom",
          "select_overlay_color" : "custom"
        },
        button_group=[ ],
        top_content={
        "button_group" : [ ],
        "title":"Amazing Collection Of Projects",
          "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>"
        },
          style={
          "spacing" : {
            "spacing" : {
              "padding" : {
                "top" : {
                  "units" : "px",
                  "value" : 0
                },
                 "bottom" : {
                  "units" : "px",
                  "value" : 80
                },
                "left" : { },
                "right" : { }

              }
            }
          }
        }
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}
  {% end_dnd_area %}

  {% dnd_area 'bottom_area_hs', label='Bottom Section' ,class="bottom-dnd-area" %}

  {% dnd_section
  full_width=true
%}
  {% dnd_column
    offset=0,
    width=12
  %}
  {% dnd_row %}
  {% dnd_module
        path="../modules/progress-bar",
        offset=0,
        width=12,

        progress_bar_items=[ {
          "content" : "",
          "number" : 63,
          "title" : "Web Development"
        }, {
          "content" : "",
          "number" : 82,
          "title" : "Mobile Application"
        }, {
         "content" : "",
          "number" : 75,
          "title" : "Application Development"
        } ],
          button_group=[ ]
      %}
  {% end_dnd_module %}
  {% end_dnd_row %}
  {% end_dnd_column %}
  {% end_dnd_section %}

  {% include_dnd_partial path="../sections/faq-section.html" %} 
  {% include_dnd_partial path="../sections/bottom-pane-section.html" %} 
  {% end_dnd_area %}
</main>
{% endblock body %}
