.hs-content-id-180762839961 .Hero_Section .column_2 img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 75px;
    width: 100%;
}


/* ============== */
.Hero_Section{
  padding: 0 0 163px;
  overflow: hidden;
}
.Hero_Section .column_1{
  width: 57%;
}

.title h1{color: #ff7f16;}

.Hero_Section .column_2{
  width: 43%;
}
.Hero_Section .column_1{
  padding-top: 154px;
  padding-right: 40px;
}

.Hero_Section .column_1 .btn-section{
  flex-direction: row;
 }

.column_1 .btn-section{
  margin-top: 25px;
  display: flex;
  gap: 20px;
}


.Hero_Section .column_2 img {
    height: 775px;
    left: -148px;
    position: absolute;
    top: 0;
    width: 1000px;
}
.Hero_Section .column_2{
  position: relative;
}
.row{
  display: flex;
}
.Hero_Section p {
  text-align: left;
  margin-bottom: 12px;
}

.Hero_Section .arrow-image img{
    bottom: 30px;
    left: 47%;
    position: absolute;
}
/* ======================= */
@media (max-width: 1440px) {
 .Hero_Section .column_2 img {
    height: 700px;
    left: -280px;
    width: 930px;
  }  

}
@media(max-width:1200px){
  .Hero_Section .arrow-image img{
    display: none;
  }
  
  .row{
    flex-wrap: wrap;
  }

 .Hero_Section .column_1{
    width: 100%;
    padding-right: 0;
    padding-top: 40px;
  }
  .content p {
    text-align: center;
  }
  .column_1 h1, .content, .Hero_Section p{
    text-align: center;
  }
  .Hero_Section p {
    margin-bottom: 0;
  }
 .Hero_Section .column_1 .btn-section {
    justify-content: center;
  }
 .Hero_Section .column_2 {
    display: none;
  }
  .Hero_Section {
    background-image: linear-gradient(180deg, rgb(125 138 219 / 45%), rgb(135 163 187 / 45%)), url(https://6697562.fs1.hubspotusercontent-na1.net/hubfs/6697562/serious-businesspeople-working-project-desk-office%201.png);
    background-size: cover;
    padding-bottom: 30px;
  }

}

@media (max-width: 560px){
  .Hero_Section{
    padding: 17px 0 49px;
  }
.Hero_Section .column_1 .btn-section{
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.Hero_Section p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}
}
