.kore-lp-logo {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-lp-logo .page-width {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.kore-lp-logo .page-width.text-center {
  text-align: center; 
}

.kore-lp-logo .heading,
.kore-lp-logo .heading * {
  letter-spacing: 2px;
}

.kore-lp-logo .slick-slide img {
  margin: 0 auto; 
}

.kore-lp-logo .customer-logos {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.kore-lp-logo .customer-logos.slick-initialized {
  visibility: visible;
  opacity: 1;    
}

/* Adjust left & right margins based on .slide padding */
.kore-lp-logo .customer-logos {
  margin: 0 -20px;
}

.kore-lp-logo .customer-logos .slide {
  margin: 0 30px; 
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.kore-lp-logo .customer-logos .slide img.filter {
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}