.kore-boldcast-testimonial-wrap {
  background-color: #f9f9f9;
}

.kore-boldcast-testimonial {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  position: relative;
}

.kore-boldcast-testimonial .page-width {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.kore-boldcast-testimonial .page-width.text-center {
  text-align: center; 
}

.kore-boldcast-testimonial .heading {
  display: inline-block;
  margin-bottom: 30px;
}

.kore-boldcast-testimonial .heading .line {
  width: 60px;
  height: 5px;
  background-color: #f03d63;
}

.kore-boldcast-testimonial .customer-testimonial {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.kore-boldcast-testimonial .customer-testimonial.slick-initialized {
  visibility: visible;
  opacity: 1;    
}

.kore-boldcast-testimonial .slick-prev,
.kore-boldcast-testimonial .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
}

.kore-boldcast-testimonial .slick-prev {
  left: -100px; 
}

.kore-boldcast-testimonial .slick-next {
  right: -100px;
}

.kore-boldcast-testimonial .slick-dots {
  position: static;
  margin-top: 10px;
  margin-bottom: 0;
}

.kore-boldcast-testimonial .slick-dots li button:before {
  font-size: 16px;
}

/* Adjust left & right margins based on .slide padding */
.kore-boldcast-testimonial .customer-testimonial {
  margin: 0 -20px;
}

.kore-boldcast-testimonial .customer-testimonial .slide {
  padding: 60px 0 0; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.kore-boldcast-testimonial .customer-testimonial .slide .slide-inner-wrap {
  position: relative;
  padding: 60px 20px 30px; 
  background-color: #fff;
  box-shadow: 0 7px 6px -3px rgba(0, 0, 0, 0.1);
}

.kore-boldcast-testimonial .customer-testimonial .slide .quote-icon img {
  position: absolute;
  left: 40px;
  top: -60px;
  right: auto;
  bottom: auto;
  z-index: -1;
}

.kore-boldcast-testimonial .customer-testimonial .slide .client-image {
  position: absolute;
  left: 50%;
  top: -50px;
  right: 0%;
  bottom: auto;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  border-radius: 100px;
  background-color: #8d8d8d;
  background-position: 50% 50%;
  background-size: cover;
}

.kore-boldcast-testimonial .customer-testimonial .slide .quote-name {
  display: inline-block;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  padding: 0 20px;
  margin-bottom: 0;
}

.kore-boldcast-testimonial .customer-testimonial .slide .quote-name,
.kore-boldcast-testimonial .customer-testimonial .slide .quote-name * {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
}

.kore-boldcast-testimonial .customer-testimonial .slide .quote-company-name,
.kore-boldcast-testimonial .customer-testimonial .slide .quote-company-name * {
  font-size: 16px;
  font-weight: 400;
}

.kore-boldcast-testimonial .customer-testimonial .slide .quote-company-name {
  margin-bottom: 20px; 
}

.kore-boldcast-testimonial .customer-testimonial .slide .quote-description,
.kore-boldcast-testimonial .customer-testimonial .slide .quote-description * {
  font-size: 18px;
}

.kore-boldcast-testimonial .customer-testimonial .slide .quote-description p:last-child {
  margin-bottom: 0; 
}

@media(max-width:1139px) {
  
  .kore-boldcast-testimonial .customer-testimonial .slide .quote-description,
  .kore-boldcast-testimonial .customer-testimonial .slide .quote-description * {
    font-size: 16px;
  }
  
  .kore-boldcast-testimonial .slick-slider {
    position: static;  
  }
  
  .kore-boldcast-testimonial .slick-prev {
    left: 0;
  }
  
  .kore-boldcast-testimonial .slick-next {
    right: 0;
  }
  
  .kore-boldcast-testimonial .customer-testimonial .slide {
    padding: 60px 0 0;
  }
  
}

@media(max-width:767px) {
  
  .kore-boldcast-testimonial .customer-testimonial .slide .quote-icon img {
    width: 50px;
    left: 20px;
    top: -35px;
  }
  
}
