.kore-faq {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-faq .page-width {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.kore-faq .tagline,
.kore-faq .tagline * {

  letter-spacing: 2px;
}

.kore-faq .tagline {
  margin-bottom: 10px; 
}

.kore-faq .fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.kore-faq .fade.in {
  opacity: 1;
}

.kore-faq .collapse {
  display: none;
}

.kore-faq .collapse.in {
  display: block;
}

.kore-faq .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.kore-faq .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.kore-faq .panel-body {
  padding: 20px;
}

.kore-faq .panel-body .content {
  padding: 10px 0;
  color: #8d8d8d;
}

.kore-faq .panel-body:before,
.kore-faq .panel-body:after {
  display: table;
  content: " ";
}

.kore-faq .panel-body:after {
  clear: both;
}

.kore-faq.panel-heading {
  padding: 20px 20px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.kore-faq .panel-title {
  font-size: 24px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.kore-faq .panel-title:hover {
  padding-left: 10px; 
}

.kore-faq .panel-title > a {
  text-decoration: none; 
  color: #333;
}

.kore-faq .panel-title > a:hover {
  color: #209fd9;
}

.kore-faq .panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}

.kore-faq .panel-group .panel+.panel {
  margin-top: 5px;
}

.kore-faq .panel-group .panel-heading {
  border-bottom: 0;
}

.kore-faq .panel-group .panel-heading+.panel-collapse>.panel-body,
.kore-faq .panel-group .panel-heading+.panel-collapse>.list-group {
  border-top: 1px solid #ddd;
}

.kore-faq .panel-group .panel-footer {
  border-top: 0;
}

.kore-faq .panel-group .panel-footer+.panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}

.kore-faq .panel-default {
  border-color: #ddd;
  border: 0;
  border-bottom: 2px solid #f2f2f4;
}

.kore-faq .panel-default>.panel-heading {
  color: #000;
  background-color: transparent;
  border-bottom: 0;
  padding: 10px 0;
}

.kore-faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border: 0;
  padding: 0;
}

@media(max-width:767px) { 
  
  .kore-faq .panel-title {
    font-size: 20px; 
  }
  
}