.kore-alternate-testimonial-v2 {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-alternate-testimonial-v2 .page-width {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.kore-alternate-testimonial-v2 .page-width.text-center {
  text-align: center;
}

.kore-alternate-testimonial-v2 .flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  background: #fff;
  padding: 0 0;
}

.kore-alternate-testimonial-v2 .flex.last:last-child {
  margin-bottom: 0;
}

.kore-alternate-testimonial-v2 .flex .col {
  flex: 1;
  padding: 0 20px;
}

.kore-alternate-testimonial-v2 .flex.left .col:first-child {
  padding: 0;
}

.kore-alternate-testimonial-v2 .flex.left .col:last-child {
  padding: 40px 20px;
}

.kore-alternate-testimonial-v2 .flex.right .col:last-child {
  padding: 0;
}

.kore-alternate-testimonial-v2 .flex.right .col:first-child {
  padding: 40px 20px;
}

.kore-alternate-testimonial-v2 .flex.left .col:first-child {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
}

.kore-alternate-testimonial-v2 .flex.right .col:last-child {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
}

.kore-alternate-testimonial-v2 .quote-icon svg {
  width: 60px;
}

.kore-alternate-testimonial-v2 .testimonial-image {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 240px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  border-radius: 0;
  background-position: 50% 50%;
  background-size: cover;
}


@media(max-width:767px) {
  
  .kore-alternate-testimonial-v2 .flex .col {
    flex: 0 0 100%;
    text-align: center;
  }
  
  .kore-alternate-testimonial-v2 .flex.left .col:first-child,
  .kore-alternate-testimonial-v2 .flex.right .col:last-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .kore-alternate-testimonial-v2 .flex.right .col:last-child {
    order: 1;
  }
  
  .kore-alternate-testimonial-v2 .flex.right .col:first-child {
    order: 2;
  }
  
}