<section class="grow_your_brand bg-secondary">
  <div class="container">
    <div class="row">
      <div class="grow_your_brand_text">
        <h2>
          {{ module.grow_your_brand_heading }}
        </h2>
        <div class="grow_your_brand_text">
          {{ module.grow_your_brand_text }}
        </div>

        <p class="grow_your_brand_para">
          {{ module.grow_your_brand_para }}
        </p>
      </div>
      
      
      
      
      
      
      
      
      
      
      
      
      

      <div class="cta-btn">
        {% for item in module.cta_group %}
        {% set href = item.cta_link.url.href %}
        {% if item.cta_link.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
        {% endif %}
        <a class="primary-btn"
           {% if item.cta_link.url.type is equalto "CALL_TO_ACTION"  %}
           href="{{ href }}" 
           {% else %}
           href="{{ href|escape_url }}"
           {% endif %}
           {% if item.cta_link.open_in_new_tab %}
           target="_blank"
           {% endif %}
           {% if item.cta_link.rel %}
           rel="{{ item.cta_link.rel|escape_attr }}"
           {% endif %}
           >
          {{ item.cta_text }}
        </a>

        {% endfor %}
      </div>

    </div>
  </div>
</section>