.kore-lp-social-share-v1 {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-lp-social-share-v1 .page-width {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.kore-lp-social-share-v1 .page-width.text-center {
  text-align: center; 
}

.kore-lp-social-share-v1 .tagline {
  opacity: 0.8;
  letter-spacing: 2px;
}

.kore-lp-social-share-v1 .simple a {
  display: inline-block !important;
  font-weight: 400 !important;
  color: #fff !important;
  text-align: center !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  padding: 15px 40px !important;
  font-size: 20px !important;
  line-height: 1.5 !important;
  -webkit-transition: all 200ms ease !important;
  transition: all 200ms ease !important;
  letter-spacing: 1px !important;
}

.kore-lp-social-share-v1 .simple a:hover {
  -webkit-transform: translate(0px, -3px) !important;
  -ms-transform: translate(0px, -3px) !important;
  transform: translate(0px, -3px) !important;
  color: #fff !important;
}

.kore-lp-social-share-v1 .social-share svg {
  width: 40px;
  height: 40px;
  border-radius: 35px;
  padding: 8px;
  overflow: visible;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.kore-lp-social-share-v1 .social-share svg:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

@media(max-width:767px) {
  
  .kore-lp-social-share-v1 .simple a {
    padding: 13px 20px !important;
    font-size: 1rem !important;
  }
  
}