.kr-col4-images{
  display: flex;
  flex-wrap: wrap;
    padding: 0 5px;
}
.kr-col4-images .kr-img-item{
  width: 25%;
  padding: 10px 5px;
}

@media screen and (max-width: 767px){
  .kr-col4-images .kr-img-item{
    width: 50%;
  }
}