.no-banner-image h1 {
  font-size: 2em;
  margin: .67em 0;
}

.no-banner-image * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.no-banner-image h1 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

.no-banner-image p {
  margin-top: 0;
  margin-bottom: 10px;
}

.no-banner-image h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 1.4em;
  font-weight: 400;
}

.no-banner-image.spn12 {
  position: relative;
  width: 100%;
  min-height: 28px;
  float: left;
}

.no-banner-image.spn12.grey-bg {
  background-color: #f2f2f2;
}

.no-banner-image.spn12.grey-bg.p20p30 {
  padding: 20px 40px 30px;
}

.no-banner-image .text-module.max850 {
  max-width: 850px;
}

.no-banner-image .max-width-1140 {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .no-banner-image.spn12.grey-bg.p20p30 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .no-banner-image.spn12.grey-bg.p20p30 {
    padding: 10px 20px 0px;
  }
}