.kore-lp-two-column-hero-1 {
  position: relative;
  overflow-y: hidden;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-lp-two-column-hero-1 .header-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
}

.kore-lp-two-column-hero-1 .header-flex .header-col {
  flex: 1;
  padding: 0 40px;
}

.kore-lp-two-column-hero-1 .page-width {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.kore-lp-two-column-hero-1 .flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0 -20px;
}

.kore-lp-two-column-hero-1 .col {
  flex: 1;
  padding: 0 20px;
  position: relative;
  z-index: 20;
}

.kore-lp-two-column-hero-1 .col:last-child {
  flex: 0 0 41.666667%;
}

.kore-lp-two-column-hero-1 .tagline {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 290486px;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.kore-lp-two-column-hero-1 .landing-page-quote-wrapper.clearfix {
  *zoom: 1;
}

.kore-lp-two-column-hero-1 .landing-page-quote-wrapper.clearfix:before, 
.kore-lp-two-column-hero-1 .landing-page-quote-wrapper.clearfix:after {
  display: table;
  content: "";
}

.kore-lp-two-column-hero-1 .landing-page-quote-wrapper.clearfix:after {
  clear: both;
}

.kore-lp-two-column-hero-1 .landing-page-quote-wrapper {
  position: relative;
  max-width: 500px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px 20px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.1);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.kore-lp-two-column-hero-1 .landing-page-quote-img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30px;
  -webkit-transform: translate(-14px, -14px);
  -ms-transform: translate(-14px, -14px);
  transform: translate(-14px, -14px);
}

.kore-lp-two-column-hero-1 .landing-page-quote-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-top: 2px;
  margin-right: 10px;
  float: left;
  border-radius: 200px;
  background-position: 50% 50%;
  background-size: cover;
}

.kore-lp-two-column-hero-1 .hero-paragraph.quote {
  position: relative;
  max-width: 450px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6em;
  color: #fff;
}

.kore-lp-two-column-hero-1 .landing-page-quote-desc {
  display: inline-block;
  float: left;
  color: #fff;
  font-size: 14px;
  padding-top: 12px;
}

.kore-lp-two-column-hero-1 .social-share svg {
  width: 40px;
  height: 40px;
  border-radius: 35px;
  padding: 8px;
  overflow: visible;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.kore-lp-two-column-hero-1 .social-share svg:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.kore-lp-two-column-hero-1 .form-image {
  min-height: 240px;
  margin-top: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  background-position: 0px 0px;
  background-size: cover;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.kore-lp-two-column-hero-1 .meeting-type .form-title,
.kore-lp-two-column-hero-1 .meeting-type .form-title * {
  letter-spacing: 1px;
  text-align: right;
}

.kore-lp-two-column-hero-1 .meeting-type iframe {
  min-width: 100% !important;
}

.kore-lp-two-column-hero-1 .form-type .form-title,
.kore-lp-two-column-hero-1 .form-type .form-title * {
  letter-spacing: 0;
	color: #374151;
}

.kore-lp-two-column-hero-1 .form {
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  margin: 0;
}

.kore-lp-two-column-hero-1 .form .hs-form{
  margin: 0;
}

.kore-lp-two-column-hero-1 .form .hs-form-field {
  margin-bottom: 10px;
  padding: 0!important;
}

.kore-lp-two-column-hero-1 .form form > .hs-form-field {
  margin-right: 0;
  margin-left: 0;
}

.kore-lp-two-column-hero-1 .form form fieldset.form-columns-2 > div:first-child{
  padding-right: 6px!important;
}
.kore-lp-two-column-hero-1 .form form fieldset.form-columns-2 > div:last-child{
  padding-left: 6px!important;
}

.kore-lp-two-column-hero-1 .form .hs-form-field > label {
  font-weight: 400;
  margin-bottom: 1px;
  padding-right: 0;
  padding-left: 0;
  color: #333e55;
  padding: 0;
}
.kore-lp-two-column-hero-1 .form .hs-form-field > label span{
  color: #6b7280;
  font-size: 14px;
}

.kore-lp-two-column-hero-1 .form .hs-form-field > label.hide {
  display: none;
}

.kore-lp-two-column-hero-1 .form .hs-form-field > label > span:empty {
  display: none;
}

.kore-lp-two-column-hero-1 .form .hs-form-field > label .hs-form-required {
  display: none;
}

.kore-lp-two-column-hero-1 .form .input,
.kore-lp-two-column-hero-1 .form .form-columns-2 .input,
.kore-lp-two-column-hero-1 .form .form-columns-3 .input {
  margin-right: 0 !important;
  padding-right: 0;
  padding-left: 0;
}

.kore-lp-two-column-hero-1 .form .legal-consent-container * {
  font-size: 14px;
}

.kore-lp-two-column-hero-1 .form .legal-consent-container .input {
  padding-right: 0;
  padding-left: 0;
}

.kore-lp-two-column-hero-1 .form .legal-consent-container .hs-form-booleancheckbox-display {
  margin-bottom: 0;
}

.kore-lp-two-column-hero-1 .form ::-webkit-input-placeholder {
  color: rgba(44, 44, 44, 0.6);
}

.kore-lp-two-column-hero-1 .form :-moz-placeholder {
  color: rgba(44, 44, 44, 0.6);
}

.kore-lp-two-column-hero-1 .form ::-moz-placeholder {
  color: rgba(44, 44, 44, 0.6);
}

.kore-lp-two-column-hero-1 .form :-ms-input-placeholder {
  color: rgba(44, 44, 44, 0.6);
}

.kore-lp-two-column-hero-1 .form .form-columns-1 .legal-consent-container,
.kore-lp-two-column-hero-1 .form .form-columns-2 .legal-consent-container,
.kore-lp-two-column-hero-1 .form .form-columns-3 .legal-consent-container {
  padding-right: 0;
  padding-left: 0;
}

.kore-lp-two-column-hero-1 .form fieldset {
  max-width: 100%;
}

.kore-lp-two-column-hero-1 .form fieldset.form-columns-1,
.kore-lp-two-column-hero-1 .form fieldset.form-columns-2,
.kore-lp-two-column-hero-1 .form fieldset.form-columns-3 {
  margin-right: 0;
  margin-left: 0;
}

.kore-lp-two-column-hero-1 .form .form-columns-1 .hs-input {
  width: 100%;
}

.kore-lp-two-column-hero-1 .form input[type="radio"],
.kore-lp-two-column-hero-1 .form input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.kore-lp-two-column-hero-1 .form .form-columns-1 input[type="radio"],
.kore-lp-two-column-hero-1 .form .form-columns-1 input[type="checkbox"] {
  width: auto;
  margin-right: 5px;  
}
.kore-lp-two-column-hero-1 .form .form-columns-1 input[type="checkbox"]{
  margin-top: 2px;
}  

.kore-lp-two-column-hero-1 .form .form-columns-3 > div {
  width: 33.333333% !important;
}

.kore-lp-two-column-hero-1 .form .inputs-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.kore-lp-two-column-hero-1 .form .hs-error-msgs {
  padding: 0;
  margin: 0;
  font-size: 14px;
  list-style: none;
  color: #dc3545;
  display: inline-block;
}

.kore-lp-two-column-hero-1 .form .hs-error-msgs .hs-error-msg {
  margin-bottom: 0; 
  padding: 0;
  font-size: 12px;
}

.kore-lp-two-column-hero-1 .form .hs_error_rollup {
  display: none; 
}

.kore-lp-two-column-hero-1 input[type="text"],
.kore-lp-two-column-hero-1 input[type="password"], 
.kore-lp-two-column-hero-1 input[type="datetime"], 
.kore-lp-two-column-hero-1 input[type="datetime-local"], 
.kore-lp-two-column-hero-1 input[type="date"], 
.kore-lp-two-column-hero-1 input[type="month"], 
.kore-lp-two-column-hero-1 input[type="time"], 
.kore-lp-two-column-hero-1 input[type="week"], 
.kore-lp-two-column-hero-1 input[type="number"], 
.kore-lp-two-column-hero-1 input[type="email"], 
.kore-lp-two-column-hero-1 input[type="url"], 
.kore-lp-two-column-hero-1 input[type="search"], 
.kore-lp-two-column-hero-1 input[type="tel"], 
.kore-lp-two-column-hero-1 input[type="color"],
.kore-lp-two-column-hero-1 input[type="file"],
.kore-lp-two-column-hero-1 textarea,
.kore-lp-two-column-hero-1 select {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333e55;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border-radius: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  height: 42px;
}

.kore-lp-two-column-hero-1 input[type="checkbox"] {
  margin-top: 6px; 
}

.kore-lp-two-column-hero-1 textarea.hs-input {
  height: 120px;
}

.kore-lp-two-column-hero-1 .form .hs-submit {
  margin-top: 10px;
}

.kore-lp-two-column-hero-1 .form .hs-submit input{
  font-size: 16px;
  font-weight: 600;
  padding: 10px 30px;
  text-transform: uppercase;
  width: auto;
}

.kore-lp-two-column-hero-1 .form .hs-submit .actions{
  padding: 0;
}

.kore-lp-two-column-hero-1 .form .meetings-iframe-container {
  max-height: 605px;
}

.kore-lp-two-column-hero-1 .form .embed iframe {
  width: 100%;
}

.kore-lp-two-column-hero-1 .landing-page-image {
  position: absolute;
  top: 0px;
  right: 0px;
  min-height: 100%;
  min-width: 40%;
  margin-bottom: 20px;
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: scroll;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.2;
}

.kore-lp-two-column-hero-1 .details-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
}

.kore-lp-two-column-hero-1 .date-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.kore-lp-two-column-hero-1 .date-icon svg {
  fill: #333e55;
}

.kore-lp-two-column-hero-1 .location-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.kore-lp-two-column-hero-1 .location-icon svg {
  fill: #333e55;
}

.kore-lp-two-column-hero-1 .count-down-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -20px;
  margin-top: 0px;
  margin-bottom: 40px;
}

.kore-lp-two-column-hero-1 .count-down-flex .col-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px;
  position: relative;
}

.kore-lp-two-column-hero-1 .count-down-flex .col-item:after {
  display: block;
  width: 1px;
  background: #f6f6f6;
  height: 40px;
  position: absolute;
  content: '';
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.kore-lp-two-column-hero-1 .count-down-flex .col-item:last-child:after {
  content: none;
}

.kore-lp-two-column-hero-1 .form-type .form-title{
  background-color: transparent;
  padding: 0;
}

.kore-lp-two-column-hero-1 .form .hs-richtext{
  margin-bottom: 8px;
  padding: 0;
}

.kore-lp-two-column-hero-1 .form .legal-consent-container *{
  color: #1f2631!important;
}

.kore-lp-two-column-hero-1 .form ul.hs-error-msgs li{
  margin: 0;
}
.kore-lp-two-column-hero-1 .form-title{
  text-align: left;
}
.kore-lp-two-column-hero-1 .content ul li{
	font-size: 16px;
}

@media(max-width:1139px) {

  .kore-lp-two-column-hero-1 .header-flex .header-col {
    padding: 0 20px;
  }

  .kore-lp-two-column-hero-1 .col,
  .kore-lp-two-column-hero-1 .col:last-child {
    flex: 1;
  }

  .kore-lp-two-column-hero-1 .form .form-columns-3 > div {
    width: 100% !important;
  }

  .kore-lp-two-column-hero-1 .form .form-columns-2 .hs-input,
  .kore-lp-two-column-hero-1 .form .form-columns-3 .hs-input {
    width: 100% !important;
  }

  .kore-lp-two-column-hero-1 .meeting-type iframe {
    height: 100% !important;
  }

}

@media(max-width:767px) {

  .kore-lp-two-column-hero-1 .col,
  .kore-lp-two-column-hero-1 .col:last-child {
    flex: 0 0 100%;
  }

  .kore-lp-two-column-hero-1 .col:last-child {
    margin-top: 20px;
  }

  .kore-lp-two-column-hero-1 .landing-page-image {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 10;
    min-height: 85px;
    border-radius: 0px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
  }

  .kore-lp-two-column-hero-1 .count-down-flex {
    margin: 0 -10px;
    margin-bottom: 30px;
  }

  .kore-lp-two-column-hero-1 .count-down-flex .col-item {
    padding: 0 10px;
  }

  .kore-lp-two-column-hero-1 .form form fieldset.form-columns-2 > div:first-child{
    padding-right: 0!important;
  }
  .kore-lp-two-column-hero-1 .form form fieldset.form-columns-2 > div:last-child{
    padding-left: 0!important;
  }

}