<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home
  screenshotPath: ../images/template-previews/home.png
-->
{% extends "./layouts/base.html" %}

{% block body %}

{# All templates are recommended to have an h1 present for both accessibility and SEO best practice. This should be at the top of the template before any other textual content. The h1 element below is within a dnd area to allow content editors the ability to adjust the content and alignment of the text. #}

{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--home"
%}

  {# Hero banner #}
{% dnd_section padding={'top': '0', 'bottom': '0','left': '0', 'right': '0' }, full_width %}
{% dnd_module path='/Surgepathsales_2024/modules/Hero-Section.module', label="Hero Section" %}
{% end_dnd_module %}
{% end_dnd_section %}

 {# Logo Slider #}
{% dnd_section padding={'top': '0', 'bottom': '0','left': '0', 'right': '0' }, full_width %}
{% dnd_module path='/Surgepathsales_2024/modules/Logo-Slider-Section.module', label="Logo Slider Section" %}
{% end_dnd_module %}
{% end_dnd_section %}

 {# Services Section #}
{% dnd_section padding={'top': '0', 'bottom': '0','left': '0', 'right': '0' }, full_width %}
{% dnd_module path='/Surgepathsales_2024/modules/Services_Section.module', label="Service Section" %}
{% end_dnd_module %}
{% end_dnd_section %}

{# Selling Points Section #}
{% dnd_section padding={'top': '0', 'bottom': '0','left': '0', 'right': '0' }, full_width %}
{% dnd_module path='/Surgepathsales_2024/modules/selling-points.module', label="Selling Points Section" %}
{% end_dnd_module %}
{% end_dnd_section %}

{# Grow Your Brand Section #}
{% dnd_section padding={'top': '0', 'bottom': '0','left': '0', 'right': '0' }, full_width %}
{% dnd_module path='/Surgepathsales_2024/modules/grow-your-brand.module', label="Grow Your Brand Section" %}
{% end_dnd_module %}
{% end_dnd_section %}


{% end_dnd_area %}
{% endblock body %}


