<!--
templateType: global_partial
label: Footer
-->

<div class="footer_partial_wrapper">
  {% dnd_area 'footer_dnd_area_top' class='footer_dnd_sec footer_top_sec', label='Top Section' %}
  {% end_dnd_area %}

  {% module "footer_section__2" path="../../modules/footer-section", label="Footer Section" ,
        add_section=[ {
          "add_columns" : [ {
            "add_row" : [ {
               "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "image_width" : 50,
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "alt" : "Matter Logo",
                  "height" : 25,
                  "override_inherited_src" : true,
                 "src" : get_asset_url('../../images/Matter Logo.png'),
                  "suppress_company_name" : true,
                  "width" : 132
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 24,
                "add_top_padding" : 0
              },
              "row_type" : "logo",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            }, {

              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "content" : "<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>",
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 0,
                "add_top_padding" : 0
              },
              "row_type" : "richtext",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            } ],
            "column_options" :{
             "column_width" : 41.66
            }

             }, {
            "add_row" : [ {

              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "heading_text" : "Quick Links",
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 1
              },
              "row_type" : "heading",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            }, {

              "advance_menu" : '',
              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 1
              },
              "row_type" : "advance_menu",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            } ],
              "column_options" :{
            "column_width" : 16.66
            }
          }, {
            "add_row" : [ {

              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "heading_text" : "Useful Links",
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 1
              },
              "row_type" : "heading",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            }, {

              "advance_menu" : '',
              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 1
              },
              "row_type" : "advance_menu",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            } ],
              "column_options" :{
           "column_width" : 16.66
           }
          }, {
            "add_row" : [ {

              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "heading_text" : "Newsletter",
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 1
              },
              "row_type" : "heading",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            }, {

              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "message" : "Thanks for submitting the form.",
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "form_id" : "",
                "form_type" : "HUBSPOT",
                "message" : "Thanks for submitting the form.",
                "response_type" : "inline"
              },
              "header" : {
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 1
              },
              "row_type" : "form_box",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            }, {

              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "response_type" : "inline"
              },
              "header" : {
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 24
              },
              "row_type" : "social_icons",
              "simplemenu_field" : [ ],
              "social_icon" : [ {
                "icon_field" : {
                  "name" : "Facebook F",
                  "type" : "REGULAR",
                  "unicode" : "f39e"
                },
                "icon_type" : "icon",
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }, {
                "icon_field" : {
                  "name" : "Instagram",
                  "type" : "REGULAR",
                  "unicode" : "f16d"
                },
                "icon_type" : "icon",
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }, {
                "icon_field" : {
                  "name" : "Twitter",
                  "type" : "REGULAR",
                  "unicode" : "f099"
                },
                "icon_type" : "icon",
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }, {
                "icon_field" : {
                  "name" : "LinkedIn In",
                  "type" : "REGULAR",
                  "unicode" : "f0e1"
                },
                "icon_type" : "icon",
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              } ]
            } ],
              "column_options" :{
            "column_width" : 25
            }
          } ],
          "section_settings" : {
            "background_option" : {},
            "font_color_options" : {
              "custom_color" : {
                "color" : "#026780",
                "opacity" : 100
              }
            },
            "spacing" : {                          
              "add_bottom_padding" : 45,
              "add_top_padding" : 45
            }
          }
        }, {
          "add_columns" : [ {
            "add_row" : [ {

              "blog_feed" : {
                "author" : true,
                "date" : true,
                "description" : true,
                "featured_image" : true,
                "post_count" : 3,
                "readmore" : true,
                "title" : true
              },
              "content" : '<p style="text-align: center;">All rights reserved.</p>',
              "field_group" : [ {
                "button_link" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "form_field_1" : {
                  "response_type" : "inline"
                }
              } ],
              "form_field" : {
                "response_type" : "inline"
              },
              "header" : {
                "select_headings" : "h3"
              },
              "image_setting" : {
                "image_field" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "image_width" : 50,
                "include_link" : false,
                "link_field_2" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              },
              "logo_setting" : {
                "link_field_3" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                },
                "logo_field" : {
                  "override_inherited_src" : false
                }
              },
              "row_spacing" : {
                "add_bottom_padding" : 1,
                "add_top_padding" : 1
              },
              "row_type" : "richtext",
              "simplemenu_field" : [ ],
              "social_icon" : {
                "icon_field" : { },
                "image_field_1" : {
                  "loading" : "lazy",
                  "size_type" : "auto",
                  "src" : ""
                },
                "link_field" : {
                  "no_follow" : false,
                  "open_in_new_tab" : false,
                  "url" : {
                    "href" : "",
                    "type" : "EXTERNAL"
                  }
                }
              }
            } ],
  "column_options" :{
            "column_width" : 100
            }
          } ],
          "section_settings" : {
            "background_option" : { 
              "bg_color_choice" : "pri_color",
              "custom_color" : {
                "color" : "#026780",
                "opacity" : 100
              }
            },
            "font_color_options" : {
              "custom_color" : {
                "color" : "#FFFFFF",
                "opacity" : 100
              },
              "overlay_color_choice" : "Cst_f_color"
            },
            "spacing" : {
              "add_bottom_padding" : 9,
              "add_top_padding" : 14
            }
          }
        } ]
      %}
  {% dnd_area 'footer_dnd_area_bottom' class='footer_dnd_sec footer_bottom_sec', label='Bottom Section' %}
  {% end_dnd_area %}

</div>
