{# http://www-juicetactics-com.sandbox.hs-sites.com/kore-theme-documentation #}
{# https://getbootstrap.com/docs/3.4/javascript/#tabs #}

<!-- HTML to show when checked -->
{% if module.section_settings.section_show_hide %}

<style>
  {% set settings = module.section_settings %}
  {% if settings.section_background_type != '3' %}
  .{{ name }} { 
    {% if settings.section_background_type == '1' %}
    {% if settings.section_background_image.src %}
    background: linear-gradient(rgba({{ settings.section_background_image_overlay.color|convert_rgb}}, {% if settings.section_background_image_overlay.opacity != 100 %}0.{{ settings.section_background_image_overlay.opacity }}{% else %}1{% endif %}), rgba({{ settings.section_background_image_overlay.color|convert_rgb}}, {% if settings.section_background_image_overlay.opacity != 100 %}0.{{ settings.section_background_image_overlay.opacity }}{% else %}1{% endif %})), url({{ settings.section_background_image.src }});
    {% endif %}
    {% elif settings.section_background_type == '2' %}
    background-color: {{ settings.section_background_color.color }};
    {% endif %}
  }
  {% endif %}
  
  .{{ name }} .nav-tabs>li>a {
    opacity: 1;
    background-color: {{ module.tab_background_color.color }};
  }
  
  .{{ name }} .nav-tabs>li>a:hover {
    background-color: {{ module.tab_background_color_hover.color }};
    color: #fff !important;
  }
  
  .{{ name }} .nav-tabs>li.active>a {
    background-color: {{ module.tab_background_color_active.color }} !important;
  }
  
  {% for item in module.tab %}
    {% set customIncrement = loop.index %}
    {% for item2 in item.card %}
    .{{ name }} #item{{ customIncrement }} .simple-{{ loop.index }} a {
      background-color:  {{ item2.button_background_color.color }} !important;
      {% if item2.button_background_color.color %}
      background-image: none !important;
      {% endif %}
    }
    .{{ name }} #item{{ customIncrement }} .simple-{{ loop.index }} a:hover {
      background-color: {{ item2.button_background_color_hover.color }} !important;
      {% if item2.button_background_color_hover.color %}
      background-image: none !important;
      {% endif %}
    }
    {% endfor %}
  
  
  .{{ name }} .cta .cta-button-{{ loop.index }} a {
    background-color: {{ item.cta.button_background_color.color }} !important;
    {% if item.cta.button_background_color.color %}
    background-image: none !important;
    {% endif %}
  }
  
  .{{ name }} .cta .cta-button-{{ loop.index }} a:hover {
     background-color: {{ item.cta.button_background_color_hover.color }} !important;
    {% if item.cta.button_background_color_hover.color %}
    background-image: none !important;
    {% endif %}
  }

  {% endfor %}
  
  .{{ name }} .section-padding-desktop {
    padding-top: {{ module.section_settings.section_padding_desktop.top }}px;
    padding-bottom: {{ module.section_settings.section_padding_desktop.bottom }}px;
  }

  @media (max-width: 1139px) {

    .{{ name }} .section-padding-tablet {
      padding-top: {{ module.section_settings.section_padding_tablet.top }}px;
      padding-bottom: {{ module.section_settings.section_padding_tablet.bottom }}px;
    }

  }

  @media (max-width: 767px) {

    .{{ name }} .section-padding-mobile {
      padding-top: {{ module.section_settings.section_padding_mobile.top }}px;
      padding-bottom: {{ module.section_settings.section_padding_mobile.bottom }}px;
    }

  }
</style>

<div class="{% if module.section_settings.section_use_existing_portal_style %}kore-module-off{% else %}kore-module{% endif %} kore-tab-system clear-module {{ module.section_settings.section_class|replace('.', '')|replace(' ', '')|lower }} {% if module.section_settings.section_background_type == '3' %}default-bg-color{% elif module.section_settings.section_background_type == '4' %}default-bg-gradient{% endif %} {{ name }}" id="{{ module.section_settings.section_id|replace('#', '')|replace(' ', '')|lower }}">
  <div class="page-width {{ module.section_settings.section_text_alignment }}">

    <div class="{% if module.section_settings.section_padding == "custom" %}section-padding-desktop section-padding-tablet section-padding-mobile{% else %}{{ module.section_settings.section_padding }}{% endif %}">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        {% for item in module.tab %}
        <li role="presentation" class="{% if loop.first %}active{% endif %}">
          <a href="#item{{ loop.index }}" aria-controls="item{{ loop.index }}" role="tab" data-toggle="tab">{{ item.nav }}</a>
        </li>
        {% endfor %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        {% for item in module.tab %}
        <div role="tabpanel" class="tab-pane fade {% if loop.first %}in active{% endif %}" id="item{{ loop.index }}">

          {% if item.heading %}
          <div class="main-heading">
            <h2>
              {{ item.heading }}
            </h2>
          </div>
          {% endif %}

          {% if item.content %}
          <div class="main-content">
            {{ item.content }}
          </div>
          {% endif %}
          
          

          <div class="tab-content-flex card">
            {% for item2 in item.card %}

            <div class="col">

              {% if item2.type == "content" %}

              {% if item2.title %}
              <div class="card-title">
                <h3>
                  {{ item2.title }}
                </h3>
              </div>
              {% endif %} 

              {% if item2.content %}
              <div class="card-content" id="card-hs-cta">
                {{ item2.content }}
              </div>
              {% endif %}

              {% if item2.button_text %}
              <div class="simple simple-{{ loop.index }}">
                
                <a href="{{ item2.button_url.href }}">
                  {{ item2.button_text }}
                </a>
                
                
              </div>
              {% endif %}

              {% elif item2.type == "image" %}

              {% if item2.image.src %}
              <div class="image-module" style="background-image: url({{ item2.image.src }});"></div>
              {% endif %}

              {% if item2.button_text %}
              <div class="simple">
                <a href="{{ item2.button_url.href }}">
                  {{ item2.button_text }}
                </a>
              </div>
              {% endif %}
              
              {% endif %}

            </div>

            {% endfor %}
            
           
             
                  
                  
          </div>

          {% if item.cta.heading or item.cta.content or item.cta.button_text or item.cta.button %}
          <div class="cta">

            {% if item.cta.heading %}
            <div class="cta-heading">
              <h3>
                {{ item.cta.heading }}
              </h3>
            </div>
            {% endif %}

            {% if item.cta.content %}
            <div class="cta-content">
              {{ item.cta.content }}
            </div>
            {% endif %}

            {% if item.cta.button_text %}
            <div class="simple mt-40 cta-button-{{ loop.index }}">
              <a href="{{ item.cta.button_url.href }}"> 
                {{ item.cta.button_text }} 
              </a>
            </div>
            {% endif %}

          </div>
          {% endif %}

        </div>
        {% endfor %}

      </div>

    </div> 

  </div>
</div>

{% endif %}