
{% import "../../macros/_macros.html" as macros %}

<div class="adv_video_module ty_{{ module.select_video_type }} ic_{{ module.select_play_icon }} th_{{ module.select_icon_color_theme }}
            {% if not module.add_poster_image.src %}no_poster_image{% endif %} {% if not module.add_poster_image.src and not module.select_play_icon %}no_trigger{% endif %} {{name}} dnd_padd {{ module.advanced_customization.css_class_selector }} {% if module.style.background.select_background_type == "bgcolor" %}{% if module.style.background.select_background_theme != "custom"%}{{module.style.background.select_background_theme}}{% endif %}{% endif %} {% if module.module_settings.include_popup %}popupActive{% endif %}" {% if module.advanced_customization.css_id_selector %}id="{{ module.advanced_customization.css_id_selector }}"{% endif %}>
  {{ macros.sectionSpacing(name, module.style) }}
  {{ macros.sectionBackgroundStyle(name, module.style) }}
  {{ macros.customContainer(name, module.style) }}

  <div class="page-center {{ module.style.container.select_size }}">
    <div class="video_container">
      {% if module.select_video_type == "embed" %}
      <div class="iframe_box cm_vb" {% if module.module_settings.enable_animation %}data-aos="{{ module.module_settings.animation_type }}" data-aos-delay="250" {% endif %}>
        <div class="inner_spacer">
          {% if module.add_poster_image.src %}
          <div class="poster_image" style="background-image: url({{ module.add_poster_image.src }})"></div>
          {% endif %}

          {% if module.embedded_path %}
          {% if module.module_settings.include_popup %}
          <div class="vid_trigger pop_trigger" data-id="{{name}}_trigger" style="background-color: rgba({{ module.overlay_color.color|convert_rgb }},{{module.overlay_color.opacity/100}})">
            {% if module.select_play_icon == "icon" %}
            {% if module.icon_field.name %}
            <span class="{% if module.select_icon_color_theme != "custom" %}{{ module.select_icon_color_theme }}{% endif %}">
              {% icon
                name="{{ module.icon_field.name }}"
                style="{{ module.icon_field.type }}"
                unicode="{{ module.icon_field.unicode }}"
                icon_set="{{ module.icon_field.icon_set }}"
              %}
            </span> 
            {% endif %}
            {% endif %}
            {% if module.select_play_icon == "image" %}
            <span>
              {% if module.image_field.src %}
              {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
              <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} />
              {% endif %}
            </span>
            {% endif %}

          </div>
          {% else %}



          <div class="vid_trigger play_trigger " style="background-color: rgba({{ module.overlay_color.color|convert_rgb }},{{module.overlay_color.opacity/100}})">
            {% if module.select_play_icon == "icon" %}
            {% if module.icon_field.name %}
            <span class="{% if module.select_icon_color_theme != "custom" %}{{ module.select_icon_color_theme }}{% endif %}">
              {% icon
              name="{{ module.icon_field.name }}"
              style="{{ module.icon_field.type }}"
              unicode="{{ module.icon_field.unicode }}"
              icon_set="{{ module.icon_field.icon_set }}"
            %}
            </span> 
            {% endif %}
            {% endif %}
            {% if module.select_play_icon == "image" %}
            <span>
              {% if module.image_field.src %}
              {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
              <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} />
              {% endif %}
            </span>
            {% endif %}

          </div>
          {% if module.embedded_path is string_containing "youtube.com" %}

          {% if  module.add_poster_image.src %}
          <iframe src="" data-src="{{ module.embedded_path|split('?')|first }}?autoplay=1&loop=1&mute=1&showinfo=0&controls=0&playlist={{ module.embedded_path|split('?')|first|split('/')|last }}" frameborder="0" allowFullScreen class="iframe_video"></iframe>
          {% else %}
          <iframe data-noimage="true" src="{{ module.embedded_path|split('?')|first }}?autoplay=0&loop=1&mute=1&showinfo=0&controls=0&playlist={{ module.embedded_path|split('?')|first|split('/')|last }}" data-src="{{ module.embedded_path|split('?')|first }}?autoplay=1&loop=1&mute=1&showinfo=0&controls=0&playlist={{ module.embedded_path|split('?')|first|split('/')|last }}" frameborder="0" allowFullScreen class="iframe_video"></iframe>
          {% endif %}

          {% else %}
          {% if  module.add_poster_image.src %}
          <iframe src="" data-src="{{ module.embedded_path|split('?')|first }}?autoplay=1&loop=1&autopause=0&muted=1&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowFullScreen class="iframe_video"></iframe>
          {% else %}
          <iframe data-noimage="true" src="{{ module.embedded_path|split('?')|first }}?autoplay=0&loop=1&autopause=0&muted=1&title=0&byline=0&portrait=0" data-src="{{ module.embedded_path|split('?')|first }}?autoplay=1&loop=1&autopause=0&muted=1&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowFullScreen class="iframe_video"></iframe>
          {% endif %}

          {% endif %}
          {% endif %}
          {% endif %}
        </div>
      </div>
      {% endif  %}
      {% if module.select_video_type == "source" %}
      <div class="video_box cm_vb" {% if module.module_settings.enable_animation %}data-aos="{{ module.module_settings.animation_type }}" data-aos-delay="250" {% endif %}>
        <div class="inner_spacer">
          {% if module.add_poster_image.src %}
          <div class="poster_image" style="background-image: url({{ module.add_poster_image.src }})"></div>
          {% endif %}

          {% if module.select_video %}
          {% if module.module_settings.include_popup %}
          <div class="vid_trigger pop_trigger" data-id="{{name}}_trigger" style="background-color: rgba({{ module.overlay_color.color|convert_rgb }},{{module.overlay_color.opacity/100}})">
            {% if module.select_play_icon == "icon" %}
            {% if module.icon_field.name  %}
            <span class="{% if module.select_icon_color_theme != "custom" %}{{ module.select_icon_color_theme }}{% endif %}">
              {% icon
	name="{{ module.icon_field.name }}"
	style="{{ module.icon_field.type }}"
	unicode="{{ module.icon_field.unicode }}"
	icon_set="{{ module.icon_field.icon_set }}"
%}
            </span> 
            {% endif %}
            {% endif %}
            {% if module.select_play_icon == "image" %}
            <span>
              {% if module.image_field.src %}
              {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
              <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} />
              {% endif %}
            </span>
            {% endif %}

          </div>
          {% else %}
          <div class="vid_trigger play_trigger" style="background-color: rgba({{ module.overlay_color.color|convert_rgb }},{{module.overlay_color.opacity/100}})">
            {% if module.select_play_icon == "icon" %}
            {% if module.icon_field.name %}
            <span class="{% if module.select_icon_color_theme != "custom" %}{{ module.select_icon_color_theme }}{% endif %}">
              {% icon
            name="{{ module.icon_field.name }}"
            style="{{ module.icon_field.type }}"
            unicode="{{ module.icon_field.unicode }}"
            icon_set="{{ module.icon_field.icon_set }}"
          %}
            </span> 
            {% endif %}
            {% endif %}
            {% if module.select_play_icon == "image" %}
            <span>
              {% if module.image_field.src %}
              {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
              <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} />
              {% endif %}
            </span>
            {% endif %}
          </div>

          {% if module.add_poster_image.src %}
          <video data-src="{{ module.select_video }}" autoplay controls></video>
          {% else %}
          <video src="{{ module.select_video }}" data-src="{{ module.select_video }}" controls></video>
          {% endif %}

          {% endif %}
          {% endif %}
        </div>
      </div>
      {% endif  %}
    </div>
  </div>

  {% if module.module_settings.include_popup %}
  <div class="video_popup_modal" id="{{name}}_trigger">
    <div class="modal_video_container">
      <div class="modal_video_box">
        <div class="inner_spacer">
          {% if module.select_video_type == "embed" %}
          {% if module.embedded_path is string_containing "youtube.com" %}
          <iframe src="" data-src="{{ module.embedded_path|split('?')|first }}?autoplay=1&loop=1&mute=1&showinfo=0&controls=0&playlist={{ module.embedded_path|split('?')|first|split('/')|last }}" frameborder="0" allowFullScreen class="iframe_video"></iframe>
          {% else %}
          <iframe src="" data-src="{{ module.embedded_path|split('?')|first }}?autoplay=1&loop=1&autopause=0&title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowFullScreen class="iframe_video"></iframe>
          {% endif %}
          {% endif  %}

          {% if module.select_video_type == "source" %}
          <video data-src="{{ module.select_video }}" autoplay controls>
          </video>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="closeicon {% if module.select_icon_color_theme != "custom" %}{{ module.select_icon_color_theme }}{% endif %}">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" aria-hidden="true"><g id="Window Close1_layer"><path d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm0 394c0 3.3-2.7 6-6 6H54c-3.3 0-6-2.7-6-6V86c0-3.3 2.7-6 6-6h404c3.3 0 6 2.7 6 6v340zM356.5 194.6L295.1 256l61.4 61.4c4.6 4.6 4.6 12.1 0 16.8l-22.3 22.3c-4.6 4.6-12.1 4.6-16.8 0L256 295.1l-61.4 61.4c-4.6 4.6-12.1 4.6-16.8 0l-22.3-22.3c-4.6-4.6-4.6-12.1 0-16.8l61.4-61.4-61.4-61.4c-4.6-4.6-4.6-12.1 0-16.8l22.3-22.3c4.6-4.6 12.1-4.6 16.8 0l61.4 61.4 61.4-61.4c4.6-4.6 12.1-4.6 16.8 0l22.3 22.3c4.7 4.6 4.7 12.1 0 16.8z"></path></g></svg>
    </div>
  </div>
  {% endif %}



</div>


{% require_css %}
<style>

  {% if module.select_icon_color_theme == "custom" %}
  .adv_video_module.{{name}} .vid_trigger svg,
  .adv_video_module.{{name}} .closeicon svg{
    fill: rgba({{ module.icon_color.color|convert_rgb }},{{ module.icon_color.opacity/100 }});
  }
  {% endif %}

</style>

{% end_require_css %}



{% require_js%}
<script>

  var videoContainer = document.querySelectorAll('.adv_video_module');
  if(videoContainer){

    var getIframeTrigger = document.querySelectorAll('.iframe_box .play_trigger');
    Array.prototype.slice.call(getIframeTrigger).forEach(function(ele, index) {
      ele.addEventListener('click', function(e) {
        var getIframeSrc = ele.nextElementSibling.getAttribute('data-src');
        ele.nextElementSibling.setAttribute('src',getIframeSrc);
        ele.parentNode.parentNode.classList.add('activeVideo');

      });
    });


    var getIVideoTrigger = document.querySelectorAll('.video_box .play_trigger');
    Array.prototype.slice.call(getIVideoTrigger).forEach(function(ele, index) {
      ele.addEventListener('click', function(e) {
        var getVideoSrc = ele.nextElementSibling.getAttribute('data-src');
        ele.nextElementSibling.setAttribute('src',getVideoSrc);
        ele.nextElementSibling.play();
        ele.parentNode.parentNode.classList.add('activeVideo');

      });
    });

    var openIframeTrigger = document.querySelectorAll('.iframe_box .pop_trigger');
    Array.prototype.slice.call(openIframeTrigger).forEach(function(ele, index) {
      ele.addEventListener('click', function(e) {
        var getId = this.getAttribute('data-id');
        var modalId = document.getElementById(getId);
        document.querySelector('body').classList.add('popup_open')
        modalId.classList.add('show');
        var iframeTag = modalId.querySelector('iframe');
        if(iframeTag){
          var getAtrr =  iframeTag.getAttribute('data-src');
          iframeTag.setAttribute('src',getAtrr);
        }

        setTimeout(function(){
          modalId.classList.add('active_show');
        })
      });
    });

    var openVideoTrigger = document.querySelectorAll('.video_box .pop_trigger');
    Array.prototype.slice.call(openVideoTrigger).forEach(function(ele, index) {
      ele.addEventListener('click', function(e) {
        var getId = this.getAttribute('data-id');
        var modalId = document.getElementById(getId);
        document.querySelector('body').classList.add('popup_open')
        modalId.classList.add('show');
        var videoTag = modalId.querySelector('video');
        if(videoTag){
          var getAtrr =  videoTag.getAttribute('data-src');
          videoTag.setAttribute('src',getAtrr);
          videoTag.play();
        }

        setTimeout(function(){
          modalId.classList.add('active_show');
        })
      });
    });


    var vdieoModalBox = document.querySelectorAll('.video_popup_modal');
    Array.prototype.slice.call(vdieoModalBox).forEach(function(ele, index) {
      ele.addEventListener('click', function(e) {
        ele.classList.remove('active_show');
        ele.querySelector('.video_popup_modal video') && ele.querySelector('.video_popup_modal video').setAttribute('src','');
        ele.querySelector('.video_popup_modal iframe') && ele.querySelector('.video_popup_modal iframe').setAttribute('src','');
        setTimeout(function(){
          ele.classList.remove('show');
          document.querySelector('body').classList.remove('popup_open');
        });
      });
    });


    var modalVideoBox = document.querySelector('.modal_video_box');
    if(modalVideoBox){
      modalVideoBox.addEventListener('click', function(ele) {
        ele.stopPropagation();
      });
    }

  }



</script>
{% end_require_js%}

