.kore-cards-portfolio-accordion {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-cards-portfolio-accordion .flex-thumbnail {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -12px;
}

.kore-cards-portfolio-accordion .flex-thumbnail > a {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 12px 12px;
}

.kore-cards-portfolio-accordion .flex-thumbnail > a .team-item-wrapper {
  position: relative;
}

.kore-cards-portfolio-accordion .flex-thumbnail > a .team-item-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}

.kore-cards-portfolio-accordion .flex-thumbnail .show-form .team-item-overlay {
  opacity: 0;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
}

.kore-cards-portfolio-accordion .flex-thumbnail .show-form:hover .team-item-overlay {
  opacity: 1;
}

.kore-cards-portfolio-accordion .collapse {
  background-color: #2e2e2b;
  padding: 20px;
  color: #fff;
  width: 100%;
}

.kore-cards-portfolio-accordion .collapse .tab-content .tab-content-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 20px 0;
}

.kore-cards-portfolio-accordion .collapse .tab-content .tab-content-flex .tab-content-col {
  flex: 1;
  padding: 0 20px;
}

.kore-cards-portfolio-accordion .collapse .tab-content .tab-content-flex .tab-content-col .team-image-large {
  min-height: 360px;
  background-position: 50% 50%;
  background-size: cover;
}

.kore-cards-portfolio-accordion .collapse .tab-content .tab-content-flex .tab-content-col .tag.portfolio {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #4e4e4b;
  margin-bottom: 5px;
  display: inline-block;
}

.kore-cards-portfolio-accordion .collapse .tab-content .portfolio-thumbnail-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0 -5px;
}

.kore-cards-portfolio-accordion .collapse .tab-content .portfolio-thumbnail-col {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 5px 5px;
  text-align: center;
}

.kore-cards-portfolio-accordion .collapse .tab-content .portfolio-thumbnail-col img {
  width: 150px;
  height: 150px !important;
  object-fit: cover;
}

/*!
* Bootstrap v3.4.1 (https://getbootstrap.com/)
* Copyright 2011-2019 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  display: table;
  content: " ";
}

.nav:after {
  clear: both;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav>li.disabled>a {
  color: #777777;
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
  color: #777777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav>li>a>img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
  float: left;
  margin-bottom: -1px;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857;
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeeb #eeeeeb transparent;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-2%, transparent), to(#000));
  background-image: linear-gradient(180deg, transparent -2%, #000);
  opacity: 0.5;
  color: #eeeeeb;
}

.nav-tabs>li>a:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeeb #eeeeeb transparent;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-2%, transparent), to(#000));
  background-image: linear-gradient(180deg, transparent -2%, #000);
  opacity: 0.5;
  color: #eeeeeb !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  color: #eeeeeb !important;
  cursor: default;
  background-color: #2e2e2b;
  background-image: none;
  opacity: 1;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-pills>li {
  float: left;
}

.nav-pills>li>a {
  border-radius: 4px;
}

.nav-pills>li+li {
  margin-left: 2px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #fff;
  background-color: #337ab7;
}

.nav-stacked>li {
  float: none;
}

.nav-stacked>li+li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified,
.nav-tabs.nav-justified {
  width: 100%;
}

.nav-justified>li,
.nav-tabs.nav-justified>li {
  float: none;
}

.nav-justified>li>a,
.nav-tabs.nav-justified>li>a {
  margin-bottom: 5px;
  text-align: center;
}

.nav-justified>.dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

@media (min-width: 768px) {

  .nav-justified>li,
  .nav-tabs.nav-justified>li {
    display: table-cell;
    width: 1%;
  }

  .nav-justified>li>a,
  .nav-tabs.nav-justified>li>a {
    margin-bottom: 0;
  }
}

.nav-tabs-justified,
.nav-tabs.nav-justified {
  border-bottom: 0;
}

.nav-tabs-justified>li>a,
.nav-tabs.nav-justified>li>a {
  margin-right: 0;
  border-radius: 4px;
}

.nav-tabs-justified>.active>a,
.nav-tabs.nav-justified>.active>a,
.nav-tabs-justified>.active>a:hover,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:focus {
  border: 1px solid #ddd;
}

@media (min-width: 768px) {

  .nav-tabs-justified>li>a,
  .nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }

  .nav-tabs-justified>.active>a,
  .nav-tabs.nav-justified>.active>a,
  .nav-tabs-justified>.active>a:hover,
  .nav-tabs.nav-justified>.active>a:hover,
  .nav-tabs-justified>.active>a:focus,
  .nav-tabs.nav-justified>.active>a:focus {
    border-bottom-color: #fff;
  }
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.kore-cards-portfolio-accordion .md {
  display: none;
}

.kore-cards-portfolio-accordion .sm {
  display: none;
}

.kore-cards-portfolio-accordion .xs {
  display: none;
}

@media(max-width:1139px) {

  .kore-cards-portfolio-accordion .lg {
    display: none;
  }
  
  .kore-cards-portfolio-accordion .md {
    display: block;
  }

  .kore-cards-portfolio-accordion .flex-thumbnail > a {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

}

@media(max-width:767px) {
  
  .kore-cards-portfolio-accordion .md {
    display: none;
  }
  
  .kore-cards-portfolio-accordion .sm {
    display: block;
  }

  .kore-cards-portfolio-accordion .flex-thumbnail > a {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .kore-cards-portfolio-accordion .flex-thumbnail > a .team-item-wrapper img {
    height: 300px;
  }
  
  .kore-cards-portfolio-accordion .collapse .tab-content .tab-content-flex .tab-content-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .kore-cards-portfolio-accordion .collapse .tab-content .tab-content-flex .tab-content-col:first-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .kore-cards-portfolio-accordion .collapse .tab-content .portfolio-thumbnail-col {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media(max-width:479px) {
  
  .kore-cards-portfolio-accordion .md {
    display: none;
  }
  
  .kore-cards-portfolio-accordion .sm {
    display: none;
  }
  
  .kore-cards-portfolio-accordion .xs {
    display: block;
  }

  .kore-cards-portfolio-accordion .flex-thumbnail > a {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}