<div class="cm-overview">
  <div class="cm-wrapper">
    <div class="cm-left {% if not module.top_content %} no-top-text{% endif %}">
      <h2>{{ module.section_heading }}</h2>
      <div class="cm-top-text">
        {{ module.top_content }}
      </div>
      <div class="cm-divider"></div>
      <div class="cm-bottom-text">
        {{ module.bottom_content }}
      </div>
    </div>
    {% if module.parallax_image.src or module.image_field.src  %}
    <div class="cm-right">
      <div class="parallax-section">
        <div class="et_parallax_bg_wrap">
          <div class="et_parallax_bg jarallax" style="background-image:url({{ module.parallax_image.src }});"></div>
        </div> 
        <div class="et_pb_image_wrap">
          {% if module.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
          {% if module.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
          <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="page-center">
    <div class="cm-divider-bottom"></div>  
  </div>
</div>