<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<section class="Hero_Section Service_Hero_Section">   
  <div class="container">
    <div class="row">
      
      
      <div class="column_1">
        <div class="about-sub-heading">
            <div class="about-sub-heading">
          <h4>
           {{ module.about_hero_section_h4 }}
          </h4>

        </div>

        </div>
        <h1>{{ module.main_heading }}</h1>
        <div class="content">{{ module.content }}</div>

        <div class="btn-section">
          {% for item in module.button %}
          {% set href = item.button_link.url.href %}
          {% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
          {% endif %}
          <a class="{{ item.button_type }}"
             {% if item.button_link.url.type is equalto "CALL_TO_ACTION"  %}
             href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
             {% else %}
             href="{{ href|escape_url }}"
             {% endif %}
             {% if item.button_link.open_in_new_tab %}
             target="_blank"
             {% endif %}
             {% if item.button_link.rel %}
             rel="{{ item.button_link.rel|escape_attr }}"
             {% endif %}
             >
            {{ item.button_text }}
          </a>
          {% endfor %}
        </div>


      </div>


      <div class="column_2">
        {% if module.hero_section_image.src %}
        {% set sizeAttrs = 'width="{{ module.hero_section_image.width|escape_attr }}" height="{{ module.hero_section_image.height|escape_attr }}"' %}
        {% if module.hero_section_image.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.hero_section_image.width|escape_attr }}" height="{{ module.hero_section_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.hero_section_image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.hero_section_image.max_width|escape_attr }}" height="{{ module.hero_section_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.hero_section_image.loading != 'disabled' ? 'loading="{{ module.hero_section_image.loading|escape_attr }}"' : '' %}
        <img src="{{ module.hero_section_image.src|escape_url }}" alt="{{ module.hero_section_image.alt|escape_attr }}">
        {% endif %}

      </div>
      

    </div>

{#     <div class="arrow-image">
      {% if module.arrow_image.src %}
      {% set sizeAttrs = 'width="{{ module.arrow_image.width|escape_attr }}" height="{{ module.arrow_image.height|escape_attr }}"' %}
      {% if module.arrow_image.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ module.arrow_image.width|escape_attr }}" height="{{ module.arrow_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.arrow_image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.arrow_image.max_width|escape_attr }}" height="{{ module.arrow_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.arrow_image.loading != 'disabled' ? 'loading="{{ module.arrow_image.loading|escape_attr }}"' : '' %}
      <img src="{{ module.arrow_image.src|escape_url }}" alt="{{ module.arrow_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </div> #}
  </div>
</section>