.Hero_Section{
  padding: 47px 0 96px 0;
}


.Hero_Section h1{
  color: #00234C;
}

.Hero_Section .column_1 h1 span{
  color: #00234D;
}
.Service_Hero_Section .row{
  display: flex;
  align-items: center; 
}
.Service_Hero_Section .column_1 {
  width: 64%;
}
.Service_Hero_Section h1{
  font-weight: 600;
}

.Service_Hero_Section .column_1 .btn-section {
  margin-top: 25px;
  display: flex;
  gap: 20px;
}
.Service_Hero_Section .column_2{
  border-radius: 12px 0 0 12px;
  width: 35.3%;    
  height: 100%;
  max-height: 400px;
  margin-right: 0;    
  border-right-width: 0;
}
.Service_Hero_Section .column_2 img {
  max-height: 400px;
  max-width: 660px;
}
}
.Service_Hero_Section .row{
  display: flex;
}
.Service_Hero_Section .Hero_Section p {
  text-align: left;
  margin-bottom: 12px;
}

.Service_Hero_Section .blob img{
  right: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  height: 569px !important;
  width: 752px !important;
}

.Service_Hero_Section .about-sub-heading h4{
  font-size: 20px;
  color: #FF7F16;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.Service_Hero_Section .about-sub-heading h4:after {
  border: 1px solid #fb8a2e;
  content: "";
  width: 53px;
  rotate: 0deg;
  margin: 15px;
}

/* CSS Start */
.Service_Hero_Section .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  padding-top: 50px;
}

.Service_Hero_Section .column_1 {
  width: 50%;
}

.Service_Hero_Section .column_2 {
  border-radius: 12px 0 0 12px;
  margin: 0;
  width: 50%;
  margin-right: 0;
  border-right-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Service_Hero_Section .column_2 img{
  height: 100%;
  border: 10px solid #00234c;
}
/* CSS End */

/* ======================= */

@media(max-width: 1700px){
  .Service_Hero_Section .column_2 img {
    height: 100%;
    /*     max-height: 581px; */

    max-width: 100%;
    width: 509px;
    z-index: -1;
    border: 10px solid #00234c;
  }
}
@media (max-width: 1440px) {

  .Hero_Section.Service_Hero_Section {
    padding: 60px 0 83px 0;
  }

  .Service_Hero_Section .column_2 img {
    height: 100%;
    left: -280px;
  }

  .Service_Hero_Section .column_1 {
    width: 50%;
  }

  .Service_Hero_Section .row{
    justify-content: space-between;
  }

  .Service_Hero_Section .column_2 img{
    left: 0;
  }

}
@media(max-width:1200px){
  .Hero_Section.Service_Hero_Section {
    padding: 40px 0 53px 0;
  }
  .Hero_Section .about-sub-heading h4{
    justify-content: center;
  }

  .Service_Hero_Section {
    padding-bottom: 30px;
  }

  .Service_Hero_Section .row{
    flex-direction: column;
    align-items: center;
    padding-top: 0 !important;
  }

  .Service_Hero_Section .column_1 {
    width: 100%;
    padding-right: 0;
  }

  .column_1 h1, .content, .Hero_Section p{
    text-align: center;
  }
  .Hero_Section p {
    margin-bottom: 0;
  }
  .column_1 .btn-section {
    justify-content: center;
  }

  .Service_Hero_Section .column_2{width: 100%;}
  .Service_Hero_Section .column_2{margin-top: 35px;}
}


@media(max-width: 760px){
  .Service_Hero_Section h1 {
    font-size: 33px;
    line-height: 44px;
    margin-bottom: 20px;
  }

  .research-sec {
    padding: 0 0 76px !important;
  }
}
@media (max-width: 560px) {
  .column_1 .btn-section {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .Hero_Section p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0;
  }

  .Hero_Section.Service_Hero_Section{
    padding: 17px 0 40px;
  }
}
