{% import "../../macros/_macros.html" as macros %}  

{% set slider_settings = module.module_settings.slider_options %}

<div class="gallery-section {{name}} dnd_padd {{ module.module_settings.number_of_column }}_row {% if module.style.background.select_background_type == "bgcolor" %}{% if module.style.background.select_background_theme != "custom"%}{{module.style.background.select_background_theme}}{% endif %}{% endif %} {{ module.advanced_customization.css_class_selector }} {% if module.module_settings.enable_slider %} per_view{{ slider_settings.slides_per_view }} {% if slider_settings.autoplay %}autoplay_true{% endif %} {% if slider_settings.dots %}dots_true{% endif %} {% if slider_settings.arrows %}arrows_trw{% endif %} {% if slider_settings.loop %}loop_true{% endif %}{% endif %}{% if module.style.card_section.make_card_height_auto_adjusted %} card_img_auto_height{% else %} card_img_fix_height{% endif %} {% if module.module_settings.enable_slider %} gallery_with_slider{% endif %} {% if module.module_settings.enable_masonry %} gallery_with_masonry{% endif %}" 
     {% if module.advanced_customization.css_id_selector %}id="{{ module.advanced_customization.css_id_selector }}"{% endif %}>
  {{ macros.sectionBackgroundStyle(name, module.style) }}
  {{ macros.sectionSpacing(name, module.style) }}
  {{ macros.customContainer(name, module.style) }}

  <div class="page-center {{ module.style.container.select_size }}">
    <div class="top-column">
      {{ macros.topContent(module.top_content, module.module_settings) }}
    </div>
    {% if module.module_settings.enable_slider %}
    <div class="glide">
      <div class=" glide__track " data-glide-el="track">{% endif %}
        <div class="gallery-container flex_row {% if module.module_settings.enable_slider %}glide__slides{% else %}rowGap15{% endif %}" id="gallery-container_{{name}}">
          {% for item in module.gallery_items %}
          <div class="column {{ module.module_settings.number_of_column }}" {% if module.module_settings.enable_animation %}data-aos="{{ module.module_settings.animation_type }}" data-aos-delay="{{loop.index * 100}}" {% endif %}>

            <div class="item">
              <a  href="{% if item.change_lightbox_image and item.lightbox_image.src %}{{ item.lightbox_image.src }}{% else %}{{ item.thumbnail_image.src }}{% endif %}"
                 class="img_item glightbox3{{name}}"
                 {% if module.module_settings.include_lightbox_caption and item.caption_content %}
                 data-glightbox="description: .custom-desc{{name}}_{{loop.index}}; descPosition: bottom;"
                 {% endif %}>

                <div class="overlay overlay-color"></div>
                {% if item.thumbnail_image.src %}
                {% set loadingAttr = item.thumbnail_image.loading != 'disabled' ? 'loading="{{ item.thumbnail_image.loading }}"' : '' %}
                <img src="{{ item.thumbnail_image.src }}" {% if not module.module_settings.include_lightbox_caption %}alt="{{ item.thumbnail_image.alt }}"{% endif %} {{ loadingAttr }}>
                {% endif %}
              </a>
              {% if module.module_settings.include_lightbox_caption %}
              <div class="glightbox-desc custom-desc{{name}}_{{loop.index}}">
                {{ item.caption_content }}
              </div>
              {% endif %}

              <div class="item-info">
                <span class="tag-line">{{ item.title }}</span>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>
        {% if module.module_settings.enable_slider %}
        {{ macros.sliderControls(module.module_settings.slider_options , module.gallery_items, module.module_settings.enable_animation) }}
        {% endif %}

        {% if module.button_group %}
        <div class="bototm_btn" {% if module.module_settings.enable_animation %}  data-aos-delay="200" data-aos="{{ module.module_settings.animation_type }}"{% endif %}>
          {{ macros.buttonWithPopupGroup(module.button_group, false,'bottom_sec') }}
        </div>
        {% endif %}

        {% if module.module_settings.enable_slider %}
      </div>
    </div>
    {% endif %}
  </div>
  {{ macros.buttonWithPopupGroup(module.top_content.button_group, true, 'top_sec') }}
  {{ macros.buttonWithPopupGroup(module.button_group, true,'bottom_sec') }}
</div>



{% require_css %}
<style>
  {% if module.style.card_section.select_color_theme =="custom" %}
  .gallery-section.{{name}} .item-info .tag-line {
    color:{{ macros.color(module.style.card_section.color)}};
  }
  {% endif %}
  .gallery-section.{{name}} .item:hover .overlay-color{
    background-color:{{ macros.color(module.style.card_section.overlay_color)}};
  }

  .gallery-section.{{name}} img,
  .gallery-section.{{name}} .item .overlay-color{
    border-radius:{{ module.style.card_section.border_radius }}px;
    {% if not module.style.card_section.make_card_height_auto_adjusted %}
      min-height:{{ module.style.card_section.card_height }}px;
      max-height:{{ module.style.card_section.card_height }}px;
    {% endif %}
  }

</style>
{% end_require_css %}



{% require_js %}

{# slider options #}
{% if module.module_settings.enable_slider %}
<script>
  {# breakpoint #}
  {% if module.module_settings.slider_options.slides_per_view > 3%}
    {% set tabslides = 3 %}
  {% else %}
    {% set tabslides = module.module_settings.slider_options.slides_per_view %}
  {% endif %}

  {% if module.module_settings.slider_options.slides_per_view > 2%}
    {% set slides768 = 2 %}
  {% else %}
    {% set slides768 = module.module_settings.slider_options.slides_per_view %}
  {% endif %}

  {% set gtename = name|replace("-","_")%}
  window.addEventListener('load', () => {
    var config_{{gtename}} = {
      {% if module.module_settings.slider_options.loop %}
      type:'carousel',
      {% endif %}
      {% if not module.module_settings.slider_options.loop %}
      rewind: false,
      {% endif %}
      {% if  module.module_settings.slider_options.slides_per_view %}
      perView:{{ module.module_settings.slider_options.slides_per_view }},
      {% endif %}
      perTouch: 1,
      gap:0,
      {% if module.module_settings.slider_options.autoplay %}
      autoplay: {{ module.module_settings.slider_options.autoplay_speed * 1000 }},
      {% endif %}
      breakpoints: {
      992: {
      perView: {{tabslides}}
    },
        768: {
          perView: {{slides768}}
        },
          600: {
            perView: 1
          }
        }
  }
  var glide = new Glide(".{{name}} .glide",config_{{gtename}})
  glide.mount()
  });

</script>
{% endif %}

{# lightbox options #}
<script>
  document.addEventListener('DOMContentLoaded',function(){
    setTimeout(function(){
      var lightbox = GLightbox({
        selector: '.glightbox3{{name}}'
      });
    },200)
  })
</script>
{% end_require_js %}


{% if module.module_settings.enable_masonry %}
{% require_js %}
<script>   
  var iso = new Isotope( '.{{name}} .gallery-container', {
                        itemSelector: '.{{name}} .gallery-container .column',
                        // layoutMode: 'fitRows'
                        });
  
  document.addEventListener('DOMContentLoaded', function () {
    var iso = new Isotope( '.{{name}} .gallery-container', {
                          itemSelector: '.{{name}} .gallery-container .column',
                          // layoutMode: 'fitRows'
                          });
  })
</script>
{% end_require_js %}
{% endif %}