{% import "../../macros/_macros.html" as macros %}

<div class="key_feature dnd_padd {{name}} {{ module.module_settings.content_alignment }} {{ module.advanced_customization.css_class_selector }} {% if module.style.background.select_background_type == "bgcolor" %}{% if module.style.background.select_background_theme != "custom"%}{{module.style.background.select_background_theme}}{% endif %}{% endif %} {% if module.left_column.include_form and module.left_column.select_form.form_id %}form_add {% endif %}" 
     {% if module.advanced_customization.css_id_selector %}id="{{ module.advanced_customization.css_id_selector }}"{% endif %}>
  {{ macros.sectionSpacing(name, module.style) }}
  {{ macros.sectionBackgroundStyle(name, module.style) }}
  {{ macros.customContainer(name, module.style) }}

  <div class="page-center {{ module.style.container.select_size }}">
    <div class="flex_row {{ module.module_settings.content_vertical_alignment }}">
      <div class="content-col col{{ module.module_settings.left_column_width }}" >
        <div class="cont-inner">
          <div class="description" {% if module.module_settings.enable_animation %}data-aos="{{ module.module_settings.content_animation_type }}"{% endif %}>
            {{ module.left_column.content }}
          </div>

          {% if module.left_column.button_group %}
          <div class="btn-items" {% if module.module_settings.enable_animation %}data-aos="{{ module.module_settings.content_animation_type }}" data-aos-delay="250" {% endif %}>
            {{ macros.buttonWithPopupGroup(module.left_column.button_group, false,'left_column') }}
          </div>
          {% endif %}

          {% if module.left_column.include_form %}
          <div class="form_wrap" {% if module.module_settings.enable_animation %}data-aos="{{ module.module_settings.content_animation_type }}" data-aos-delay="300" {% endif %}>
            <div>
              <{{ module.left_column.select_form_title_size }}>
              {{ module.left_column.form_title }}
              </{{ module.left_column.select_form_title_size }}>

            </div>
              <div>

                {% form
	form_to_use="{{ module.left_column.select_form.form_id }}"
	response_response_type="{{ module.left_column.select_form.response_type }}"
	response_message="{{ module.left_column.select_form.message }}"
	response_redirect_id="{{ module.left_column.select_form.redirect_id }}"
	response_redirect_url="{{module.left_column.select_form.redirect_url}}"
	gotowebinar_webinar_key="{{ module.left_column.select_form.gotowebinar_webinar_key }}"
%}
              </div>
              </div>
              {% endif %}

            </div>
          </div>
          <div class="img-col col{{ module.module_settings.right_column_width }}" {% if module.module_settings.enable_animation %}data-aos="{{ module.module_settings.media_animation_type }}" data-aos-delay="{{100*2}}" {% endif %}>
            <div class="mediaimg">
              {% if module.right_column.image_field.src %}
              <div class="main_img bg_{{ module.right_column.background_size }}" style="background-image: url({{ module.right_column.image_field.src }});background-size: {{ module.right_column.background_size }};">
              </div>
              {% endif %}

              {% for item in module.right_column.features %}
              <div class="feat-wrap pwr-tooltip pwr-hotspot-img__icon {% if item.make_default_active %}activemarker{% endif %}" style="top:calc({{ item.marker_position.top }}% - 15px); left:calc({{ item.marker_position.left }}% - 15px);">
                   {% if (module.right_column.select_marker_icon == "image" and module.right_column.image_field_1.src) or (module.right_column.select_marker_icon == "icon" and module.right_column.icon_field.name ) %}
                <div class="tooltip pwr-tooltip__icon">
                  {% if module.right_column.select_marker_icon == "image" and module.right_column.image_field_1.src %}
                  <div class="icon">
                    {% if module.right_column.image_field_1.src %}
                    {% set loadingAttr = module.right_column.image_field_1.loading != 'disabled' ? 'loading="{{ module.right_column.image_field_1.loading }}"' : '' %}
                    <img src="{{ module.right_column.image_field_1.src }}" alt="{{ module.right_column.image_field_1.alt }}" {{ loadingAttr }} />
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if module.right_column.select_marker_icon == "icon" and module.right_column.icon_field.name %}
                  <div class="icon {% if module.right_column.select_icon_color != "custom" %}{{ module.right_column.select_icon_color }}{% endif %}">
                    {% icon
	name="{{ module.right_column.icon_field.name }}"
	style="{{ module.right_column.icon_field.type }}"
	unicode="{{ module.right_column.icon_field.unicode }}"
	icon_set="{{ module.right_column.icon_field.icon_set }}"
%} 
                  </div>
                  {% endif %}
                </div>
                {% endif %}
                
                <div class="featitem pwr-tooltip__text-wrapper">
                  <div class="pwr-tooltip__text {% if module.style.features.select_badge_background_type == "color" %}{% if module.style.features.select_background_theme != "custom" %}{{ module.style.features.select_background_theme }}{% endif %}{% endif %}" >
                    {% if item.value %}
                    <{{ module.style.features.select_value_size }} class="num">{{ item.value }}</{{ module.style.features.select_value_size }}>
                      {% endif %}
                      {% if item.title %}
                      <span class="title">{{ item.title }}</span> 
                  {% endif %}
                </div>

              </div>
            </div>
            {% endfor %}

          </div>

        </div>

      </div>
    </div>

    {{ macros.buttonWithPopupGroup(module.left_column.button_group, true,'left_column') }}
  </div>

  {% require_css %}
  <style>  

    .{{name}}.key_feature .featitem .pwr-tooltip__text{
      min-width: {{ module.style.features.max_width }}px;
      max-width: {{ module.style.features.max_width }}px;
    }

    {% if module.style.features.select_badge_background_type == "color" %}
    {% if module.style.features.select_background_theme == "custom" %}
    .{{name}}.key_feature .featitem .pwr-tooltip__text{
      background-color: rgba({{ module.style.features.background_color.color|convert_rgb }},{{ module.style.features.background_color.opacity/100 }});
    }
    {% endif %}
    {% endif %}

    {% if module.style.features.select_badge_background_type == "gradient" %}
    {% if module.style.features.select_gradient_theme == "themegrdt" %}
    .{{name}}.key_feature .featitem .pwr-tooltip__text{
      background: linear-gradient({{ module.style.features.direction }}, rgba({{ theme.global_colors.ac_primary_color.color|convert_rgb }}, {{ module.style.features.primary_color_opacity }}), rgba({{ theme.global_colors.ac_secondary_color.color|convert_rgb }}, {{ module.style.features.secondary_color_opacity }}));
      backdrop-filter: blur(18.1333px);
    }
    {% endif %}
    {% endif %}

    {% if module.style.features.select_badge_background_type == "gradient" %}
    {% if module.style.features.select_gradient_theme == "cstmgrdt" %}
    .{{name}}.key_feature .featitem .pwr-tooltip__text{
      background-image:{{ module.style.features.gradient.css }};
      backdrop-filter: blur(18.1333px);
    }
    {% endif %}
    {% endif %}

    {% if module.right_column.select_icon_color == "custom" %}
    .{{name}}.key_feature .tooltip svg{
      fill: rgba({{ module.right_column.color_field_1.color|convert_rgb }},{{ module.right_column.color_field_1.opacity/100 }})
    }
    {% endif %}

    {% if module.style.features.content_color == "custom" %}
    .{{name}}.key_feature .feat-wrap .featitem *{
      color: rgba({{ module.style.features.color_field.color|convert_rgb }},{{ module.style.features.color_field.opacity/100 }});
    }
    {% endif %}

    /*      */
    {% if module.module_settings.change_in_between_columns_spacing %}
    .{{name}}.key_feature .page-center > .flex_row {
      row-gap :{{ module.module_settings.in_between_columns_spacing }}px;
    }

    @media(min-width:768px) {
      {% if module.module_settings.left_column_width != "12" %}
      {% if module.module_settings.content_alignment == "left" %}
      .{{name}}.key_feature .content-col {
        padding-right :calc({{ module.module_settings.in_between_columns_spacing }}px / 2);
      }
      {% endif %}

      {% if module.module_settings.content_alignment == "right" %}
      .{{name}}.key_feature .content-col {
        padding-left :calc({{ module.module_settings.in_between_columns_spacing }}px / 2);
      }
      {% endif %}
      {% endif %}
    }

    @media(min-width:768px){
      {% if module.module_settings.right_column_width != "12" %}
      {% if module.module_settings.content_alignment == "left" %}
      .{{name}}.key_feature .img-col {
        padding-left :calc({{ module.module_settings.in_between_columns_spacing }}px / 2);
      }
      {% endif %}

      {% if module.module_settings.content_alignment == "right" %}
      .{{name}}.key_feature .img-col {
        padding-right :calc({{ module.module_settings.in_between_columns_spacing }}px / 2);
      }
      {% endif %}
      {% endif %}
    }
    {% endif %}

    .{{name}}.key_feature .content-col .cont-inner{
      {{ module.style.content.spacing.css }}
    }

    {% if module.style.content.change_mobile_spacing %}
    @media(max-width:767px){  
      .{{name}}.key_feature .content-col .cont-inner{
        {{ module.style.content.mobile_spacing.css }}
      }
    }
    {% endif %}
  </style>
  {% end_require_css %}


