<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section class="two-col-blog">
  <div class="container">
    <div class="two-col-blog-row">
      <div class="two-col-blog-col1">
        {% if module.image_field.src %}
        {% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}"' %}
        {% if module.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'width="{{ module.image_field.width|escape_attr }}" height="{{ module.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image_field.max_width|escape_attr }}" height="{{ module.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
        {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading|escape_attr }}"' : '' %}
        <img src="{{ module.image_field.src|escape_url }}" alt="{{ module.image_field.alt|escape_attr }}">
        {% endif %}
      </div>

      <div class="two-col-blog-col2">
        <div class="two-col-blog-heading">
          <span>{{ module.heading_span }}</span>
          <h3>
            {{ module.heading }}
          </h3>
        </div>

        <div class="two-col-blog-content">
          <p>
            {{ module.para }}
          </p>

          <div class="cta-btn">
            <a class="primary-btn" href="" id="form-btn">
              {{ module.btn_text }}
            </a>
          </div>
        </div>

        <div class="background-form" id="form-back"></div>
        <div class="main-form" id="form"> 
          <button id="btnCloseForm" class="close-button">
            <p> X </p>
          </button>
          {% form
	          form_to_use="{{ module.pop_up_form.form_id }}"
	          response_response_type="{{ module.pop_up_form.response_type }}"
	          response_message="{{ module.pop_up_form.message }}"
	          response_redirect_id="{{ module.pop_up_form.redirect_id }}"
	          response_redirect_url="{{module.pop_up_form.redirect_url}}"
	          gotowebinar_webinar_key="{{ module.pop_up_form.gotowebinar_webinar_key }}"
          %}        
        </div>

      </div>
    </div>
  </div>
</section>