.kore-lp-richtext-1 {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-lp-richtext-1 .page-width {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

.kore-lp-richtext-1 .page-width.text-center {
  text-align: center; 
}

.kore-lp-richtext-1 .tagline {
  opacity: 0.8;
  letter-spacing: 2px;
}

.kore-lp-richtext-1 #cta .kore-button,
.kore-lp-richtext-1 .kore-button {
  display: inline-block !important;
  font-weight: 400 !important;
  color: #fff !important;
  text-align: center !important;
  vertical-align: middle !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  border: 1px solid transparent !important;
  padding: 13px 20px !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 290486px !important;
  -webkit-transition: all 200ms ease !important;
  transition: all 200ms ease !important;
  letter-spacing: 1px !important;
}

.kore-lp-richtext-1 #cta .kore-button:hover,
.kore-lp-richtext-1 .kore-button:hover {
  -webkit-transform: translate(0px, -3px) !important;
  -ms-transform: translate(0px, -3px) !important;
  transform: translate(0px, -3px) !important;
  color: #fff !important;
}

.kore-floating-heading-aboutus{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.kore-floating-heading-aboutus span{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  max-width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 200px;
  background-color: #fff;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
  color: #6e6e6e;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}
.kore-lp-richtext-1 .hs-embed-wrapper{
  max-width: 100%!important;
  max-height: 100%!important;
  min-width: 100%!important;
  margin: 20px 0!important;
}

.kore-lp-richtext-1 .content p{
  margin-bottom: 15px;
}
.kore-lp-richtext-1 .content img{
  margin-bottom: 8px;
}

.hub-pricing-item{
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.hub-pricing-item:first-child{
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
.hub-pricing-item:last-child{
  border-right: 0;
}
.hub-pricing-item .title{
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.item-tbl{
  min-height: 70px;
  padding: 12px 10px 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.hub-pricing-item .img-logo{
  text-align: center;
}
.hub-pricing-item .hub-item-price{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
    font-weight: bold;
}
.hub-pricing-comparison-section .heading{
  text-align: center;
}
.hub-pricing-comparison-section .bottom-text{
  font-size: 21px;
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 767px){
  .hub-pricing-comparison-section .heading{
    padding-bottom: 12px;
  }
  .hub-num-col3 .hub-pricing-item{
    width: 100%!important;
    float: none;
  } 	
  .item-tbl{
    padding: 15px 10px 15px;
    min-height: auto;
  }
}



