.cm_comp_wrp .cm_comp_inner {
  padding-left:10px;
  padding-right:10px;
}
.cm_comp_wrp .cm_comp_inner {
  height: 500px;
  min-height: 350px;
  position: relative;
  z-index: 2;
}
.cm_comp_wrp .cm_comp_inner * {
  height: 100%;
}
.cm_comp_wrp .before_after.after {
  right: 0;
  box-shadow: 2px -11px 9px #000;
  border-left: 5px solid rgba(255, 255, 255, 0.7);
  border-right: 0;
}
.cm_comp_wrp .cm_cmp_icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px;
  transform: translate(-50%,-50%);
  z-index: 9;
  pointer-events: none;
  animation: icon_move 2s 1 normal ease-in-out 0.1s;
  -webkit-animation: icon_move 2s 1 normal ease-in-out 0.1s;
  transition: left ease-in-out 0.01s;
}

.cm_comp_wrp .cm_cmp_icon svg {
  width: 100%;
  height: 100%;
  fill: inherit;
}
.cm_comp_wrp .before-after-container {
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: all .3s ease-in-out;
  width: 100%;
  position: relative;
}
.cm_comp_wrp  .cm_ic_btn {
  margin-top: 50px;
  position: relative;
  z-index: 2;
}
.cm_comp_wrp  .before-after-container figure {
  background-size: cover;
  height: 100%;
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.cm_comp_wrp  .before_after {
  background-size: cover;
  bottom: 0;
  border-right: 5px solid rgba(255, 255, 255, 0.7);
  box-shadow: 10px 0 15px -13px #000;
  height: 100%;
  max-width: 98.6%;
  min-width: 0.6%;
  overflow: visible;
  position: absolute;
  width: 50%;
  animation: first 2s 1 normal ease-in-out 0.1s;
  -webkit-animation: first 2s 1 normal ease-in-out 0.1s;
  transition: width ease-in-out 0.01s;
}
.cm_comp_wrp  input.before_after_slider {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background: transparent;
  cursor: col-resize;
  height: 100vw;
  left: 0;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  top: -100vw;
  width: 100%;
}
.cm_comp_wrp  input.before_after_slider::-moz-range-track {
  background: transparent;
}
.cm_comp_wrp  input.before_after_slider::-ms-track {
  border: none;
  background-color: transparent;
  height: 100vw;
  left: 0;
  top: -100vw;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  position: relative;
  cursor: col-resize;
  color: transparent;
}
.cm_comp_wrp  input.before_after_slider::-ms-fill-lower {
  background-color: transparent;
}
.cm_comp_wrp  input.before_after_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 100vw;
  width: 0.5%;
  opacity: 0;
}
.cm_comp_wrp  input.before_after_slider::-moz-range-thumb {
  -moz-appearance: none;
  height: 100vw;
  width: 0.5%;
  opacity: 0;
}
.cm_comp_wrp  input.before_after_slider::-ms-thumb {
  height: 100vw;
  width: 0.5%;
  opacity: 0;
}
.cm_comp_wrp  input.before_after_slider::-ms-tooltip {
  display: none;
}
.cm_comp_wrp  .before_after::before {
  background-size: contain;
  content: " ";
  float: right;
  height: 100%;
  margin-right: -34px;
  position: relative;
  top: 0;
  width: 64px;
}

.cm_comp_wrp  article {	
  display: grid;
  align-content: center;
  padding:25px;
}

.cm_comp_wrp  .parent-container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 90px;
}

.cm_comp_wrp  .two-column-grid {
  display: grid;
  grid-gap: 0px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.cm_comp_wrp .cm_comp_inner > .page-center.full_width {
  margin: 0 -10px;
  width: auto;
  max-width: none;
}


/*  */
.cm_comp_wrp .before_after_image_box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center center;
  width: 100%;
}

.cm_comp_wrp .before_after {
  overflow: hidden;
}

.cm_comp_wrp .before-after-container figure {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*  */

@media only screen and (max-width: 980px) {
  .cm_comp_wrp  .two-column-grid {
    grid-template-columns: 1fr;
  }
}
@keyframes icon_move {
  0% {
    left: 0%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 50%;
  }
}
@-webkit-keyframes icon_move {
  0% {
    left: 0%;
  }
  50% {
    left: 80%;
  }
  100% {
    left: 50%;
  }
}
@keyframes first {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes first {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}
@media(max-width:767px){
  .cm_comp_wrp .cm_comp_inner {
    height: auto;
    min-height: 0px;
  }
  .cm_comp_wrp .before-after-container {
    aspect-ratio: 16/9;
    overflow: hidden;
  }
  .cm_comp_wrp .cm_cmp_icon {
    width: 40px;
    height: 40px;
  }
}