/* ==========================================================================
   Built in HubSpot Style: DO NO EDIT
   ========================================================================== */

/* Menus */

.hs-menu-wrapper ul {
  padding: 0;
}


/* Horizontal Menu
========================================================================== */

.hs-menu-wrapper.hs-menu-flow-horizontal ul {
  list-style: none;
  margin: 0;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul {
  display: inline-block;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul:before {
  content: " ";
  display: table;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul:after {
  content: " ";
  display: table;
  clear: both;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
  float: left;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
  display: inline-block;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children {
  position: relative;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  position: absolute;
  z-index: 10;
  left: 0;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  display: block;
  white-space: nowrap;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
  left: 100%;
  top: 0;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.flyouts>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
  opacity: 1;
  visibility: visible;
}

.row-fluid-wrapper:last-child .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
  margin-bottom: 0;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch {
  position: relative;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul {
  margin-bottom: 0;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children {
  position: static;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  display: none;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper {
  display: block;
  visibility: visible;
  opacity: 1;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper:before {
  content: " ";
  display: table;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper:after {
  content: " ";
  display: table;
  clear: both;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper>li {
  float: left;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper>li a {
  display: inline-block;
}


/* Vertical Menu
========================================================================== */

.hs-menu-wrapper.hs-menu-flow-vertical {
  width: 100%;
}

.hs-menu-wrapper.hs-menu-flow-vertical ul {
  list-style: none;
  margin: 0;
}

.hs-menu-wrapper.hs-menu-flow-vertical li a {
  display: block;
}

.hs-menu-wrapper.hs-menu-flow-vertical>ul {
  margin-bottom: 0;
}

.hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-menu-depth-1>a {
  width: auto;
}

.hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-item-has-children {
  position: relative;
}


/* Flyouts */

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  position: absolute;
  z-index: 10;
  left: 0;
}

.hs-menu-wrapper.hs-menu-flow-vertical>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  display: block;
  white-space: nowrap;
}

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  left: 100%;
  top: 0;
}

.hs-menu-wrapper.hs-menu-flow-vertical.flyouts>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1139px) {

  .hs-menu-wrapper,
  .hs-menu-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal ul {
    list-style: none;
    margin: 0;
    display: block;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    display: block;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
    float: none;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a,
  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a,
  .hs-menu-wrapper.hs-menu-flow-horizontal.hs-menu-show-active-branch>ul li.hs-item-has-children.active-branch>ul.hs-menu-children-wrapper>li a {
    display: block;
  }

  /* Stacking Horizontal Nav for Mobile */
  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal ul ul ul {
    padding: 0;
  }

  .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    white-space: normal;
  }

  /* Stacking Vertical Nav for Mobile */
  .hs-menu-wrapper.hs-menu-flow-vertical.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    position: static;
    opacity: 1;
    visibility: visible;
  }

}

.hs-menu-wrapper.hs-menu-flow-vertical.no-flyouts .hs-menu-children-wrapper {
  visibility: visible;
  opacity: 1;
}

.hs-menu-wrapper.hs-menu-flow-horizontal.no-flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* ==========================================================================
   Author Style: Custom Menu Primary
   ========================================================================== */
.office-referral-global-header {
  background-color: rgba(132, 137, 140, 1.0);
  border-bottom: 1px none #FFFFFF;
  padding: 25px 0;
}

.office-referral-global-header .page-width {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 50.4px;
}

.office-referral-global-header .flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -20px;
}

.office-referral-global-header .flex .col {
  flex: 1;
  padding: 0 20px;
}

.office-referral-global-header .flex .col {
  flex: 1;
}

.office-referral-global-header .flex .col:first-child {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.office-referral-global-header .hs_cos_wrapper_type_logo a img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  width: 250px !important;
}

/* Override max width on menu links */
.office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul li a,
.office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
  overflow: visible !important;
  max-width: none !important;
  width: auto !important;
  text-decoration: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul li a:hover,
.office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li a:hover {
  background-color: #0F4C81;
  color: #fff;
}

.header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:last-child {
  text-align: center; 
}

/* Fix menu disappearing on desktop after toggling mobile menu */
@media screen and (min-width:1140px) {
  
  /* Header */
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
      display: block;
  }
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
      float: none;
      display: inline-block;
  }
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:not(:last-child) {
      margin-right: 15px;
  }
  
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 > a {
    line-height: 65px; 
    font-size: 18px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1.hs-menu-depth-1.hs-item-has-children > a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    display: inline-block;
    padding-left: 7px;
    vertical-align: baseline;
    font-weight: 900;
    line-height: 1;
    font-size: 14px;
  }
  
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1.hs-item-has-children > ul {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1.hs-item-has-children ul {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0F4C81), color-stop(18%, #0075ba), color-stop(40%, #1e98d3), color-stop(68%, #0ea8c1), to(#06b2b8));
    background-image: linear-gradient(180deg, #0F4C81, #0075ba 18%, #1e98d3 40%, #0ea8c1 68%, #06b2b8);
    color: #fff;
  }
  
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1.hs-item-has-children > ul li a {
    padding: 10px 20px;
    font-size: 16px;
    text-align: left;
    color: #fff;
  }
  
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1.hs-item-has-children > ul li a:hover {
    background-color: #06b2b8;
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper {
      display: block !important;
      text-align: right;
  }
  
}

/* ==========================================================================
   Mobile Menu - Hubspot Standard Toggle Menu
   ========================================================================== */

/**
 * Special Note
 *
 * When the menu is open, a class of .mobile-open is applied to the body. You can 
 * use this for custom styling on any element when the menu is in the open position.                     
 */

.office-referral-global-header .mobile-trigger,
.office-referral-global-header .child-trigger {
    display: none; /* Hide button on Desktop */
}

@media(max-width:1139px) {
  
  .office-referral-global-header {
    padding: 0 0 0; 
  }
  
  .office-referral-global-header .page-width {
    padding: 0 20px;
  }
  
  .office-referral-global-header .flex .col {
    flex: 0 0 100%;
  }

  .office-referral-global-header .flex .col:first-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .office-referral-global-header .flex.menu-wrap {
    padding-top: 20px; 
  }
  
  .office-referral-global-header .hs_cos_wrapper_type_logo a img {
    width: 150px !important;
  }
  
  .header-container .office-referral-global-header .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:last-child {
    
    text-align: left;
  }
  
   /**
   * Menu Reset
   *
   * Remove styling from desktop version of custom-menu-primary. Place any
   * additional CSS you want removed from the mobile menu in this reset               
   */
  
   .office-referral-global-header .custom-menu-primary,
   .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul,
   .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul li,
   .custom-menu-primary .hs-menu-wrapper > ul li a {
    display: block;
    float: none;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    padding: 0px;
    margin: 0px;
    background-image: none;
    background-color: transparent;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: none;
    width: 100%;
    height: auto;
    line-height: 1;
    font-weight: normal;
    text-decoration: none;
    text-indent: 0px;
    text-align: left;
    color: #fff;
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul {
    background-color: #0F4C81;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  /* Toggle Button
     ========================================================================== */
  .office-referral-global-header .mobile-trigger {
    display: inline-block !important;  /* Show button on mobile */
    cursor: pointer;                   /* Mouse pointer type on hover */
    position: absolute;                /*******************************************/
    top: -73px;                          /* Position Button at right of screen  */
    right: -20px;                          /*******************************************/
    width: auto;                       /* Button width */
    height: auto;                      /* Button height */      
    padding: 23px 20px 23px 20px;
    background: transparent;                  /* Background color */
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0;
    color: #222222;
  }
  
  .office-referral-global-header .mobile-trigger:hover {
    text-decoration: none;  /* Removes link text underline on button */
    color: #0F4C81;
    background-color: transparent;
    border-color: transparent;
  }
  
  /* Change button when menu is open */
  .mobile-open .office-referral-global-header .mobile-trigger {
    color: #0F4C81;
    background-color: transparent;
    border-color: transparent;
  }
  
  /* Child Toggle Button
     ========================================================================== */
  .office-referral-global-header .child-trigger {
    display: block !important;  /* Hide button on Desktop */
    cursor: pointer;  /* Mouse pointer type on hover */
    position: absolute;
    top: 0px;
    right: 0px;
    width: 55px !important;  /* Button width */
    min-width: 55px !important;
    height: 45px !important;  /* Button height */  
    padding: 0 !important;
  }
  
  .office-referral-global-header .child-trigger i {
    display: inline-block;
    line-height: 45px;
    text-align: center;
    color: #fff;
  }
  
  .office-referral-global-header .child-trigger i:hover {
    color: #fff;
  }
  
  .office-referral-global-header .child-trigger:hover {
    text-decoration: none;
  }

  /* Menu Styles on Mobile Devices
     ========================================================================== */
  .office-referral-global-header .custom-menu-primary.js-enabled {
    position: relative;
    padding-top: 0;  /* Makes room for button */
    margin: 20px 0 0 0;
    width: 100%;
  }
  
  .office-referral-global-header .custom-menu-primary.js-enabled .hs_cos_wrapper_type_menu {
    margin: 0 -20px;
    display: block;
  }
  
  /* Hide menu on mobile */
  .office-referral-global-header .custom-menu-primary.js-enabled .hs-menu-wrapper,
  .office-referral-global-header .custom-menu-primary.js-enabled .hs-menu-children-wrapper {
    display: none;
  }
  
  /* Make child lists appear below parent items */
  .office-referral-global-header .custom-menu-primary ul.hs-menu-children-wrapper {
    visibility: visible !important;
    opacity: 1 !important;
    position: static !important;
    display: none;
  }
  
  /* Mobile Menu Styles */ 
  .office-referral-global-header .custom-menu-primary.js-enabled .hs-menu-wrapper {
    width: 100%;
    position: relative;  /**************************************************************/
    top: 0;              /* Positions the menu to drop from the very top of the screen */
    left: 0;             /**************************************************************/
    padding: 0;
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper {
    background-color: #fff;  /* Menu background color set off global menuColorMobile variable */
    width: 100%;  /* Full screen width */
  }
  
  /* Level 1 Menu List Styles */
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul > li {
    position: relative;
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul > li a {
    font-size: 16px;  /* Font size of top level list items */
    line-height: 45px;
    overflow: visible;
  }
  
  /* Level 1 and Higher Menu List Styles */
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul li {
    border-top: 0;  /* Adds transparent dark highlights to top of top level list items */
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul li a {
    padding: 0 20px;
    color: #fff;  /* link color set by global mobile-aColor variable */
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul li a:hover {
    color: #fff;  /* link hover color set by global mobile-aColorHover variable */
  }
  
  /* Level 2 and Higher Menu List Styles */
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul ul {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#06b2b8), to(#06b2b8));
    background-image: linear-gradient(180deg, #06b2b8, #06b2b8);
    box-shadow: none;
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul ul li {
    background-color: rgba(255, 255, 255, .08);
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul ul li a {
    text-indent: 15px;  /* Indent Child lists */
    font-size: 16px;  /* Font size of child lists */
    color: #fff !important;
  }
  
   .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul ul li a:hover {
     background-color: #fff;
     color: #0682bb;
  }
  
  /* Level 3 and Higher Menu List Styles */
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul ul ul li a {
    text-indent: 30px;  /* Indent Child lists */
  }
  
  .office-referral-global-header .custom-menu-primary .hs-menu-wrapper > ul ul ul ul li a {
    text-indent: 50px;  /* Indent Child lists */
  }

}