.banner_v2 .flex_row.left .left_col {
  order: 2;
}

.banner_v2 .flex_row.left .right_col {
  order: 1;
}

.banner_v2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.banner_v2 .text_wrap > p:last-of-type {
  margin-bottom: 0;
}

.banner_v2 .btn_row {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.banner_v2 .card_item > div {
  position: relative;
  width: 100%;
  height: 450px;
  border-radius: 128px;
  overflow: hidden;
}

.banner_v2.rightItemsAdd .left_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner_v2 .left_col_inner {
  width: 100%;
}

.banner_v2 .text_wrap ~ .btn_wrap {
  margin-top: 40px;
}

.banner_v2 .col6.card_item.it_1 {
  margin-top: 100px;
}

.banner_v2 .right_col.horizontal_flow .flex_row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 20px;
}

.banner_v2 .right_col.horizontal_flow .card_item {
  width: 100%;
}

.banner_v2 .right_col.horizontal_flow .card_item div {
  height: 220px;
}

.banner_v2 .right_col.horizontal_flow .col6.card_item.it_1 {
  margin-top: 0;
}

.banner_v2 .right_col.count2.horizontal_flow .card_item {
  width: calc(100% - 70px);
}

.banner_v2 .right_col.count2.horizontal_flow .it_1 {
  margin-right: auto;
}

.banner_v2 .right_col.count2.horizontal_flow .it_2 {
  margin-left: auto;
}

.banner_v2 .form_box {
  margin-top: 40px;
}

.banner_v2.noRightCol .left_col {
  text-align: center;
}

.banner_v2.noRightCol form {
  text-align: left;
}

.banner_v2.noRightCol .btn_row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.banner_v2 .flex_row {
  row-gap:2rem;
}
@media(min-width:768px){
  .banner_v2 .flex_row.media_flex_center {
    align-items: center;
  }

  .banner_v2 .flex_row.media_flex_start {
    align-items: self-start;
  }

  .banner_v2 .flex_row.media_flex_end {
    align-items: self-end;
  }
  .banner_v2 .right_col .flex_row.roww_2 {
    flex-wrap: nowrap;
  }
  .banner_v2 .vertical_flow .col6.card_item {
    width: 100%;
    max-width: 240px;
  }

  .banner_v2 .right_col .flex_row {
    justify-content: end;
  }

  .banner_v2 .col12.card_item {
    width: 100%;
    max-width: 480;
  }
  .banner_v2 .flex_row.left .flex_row.roww_2 {
    justify-content: flex-start;
  }
}
@media(max-width:767px){
  .banner_v2 .col6.card_item.it_1 {
    margin-top: 40px;
  }
}
@media(min-width:480px) and (max-width:767px){
  .banner_v2  .flex_row.roww_2 .col6 {
    width: 40%;
  }
  .banner_v2  .flex_row.roww_2 {
    justify-content: center;
  }
}
@media(max-width:479px){
  .banner_v2 .vertical_flow .col6 {
    width: 100%;
    max-width: 50%;
  }
  .banner_v2  .flex_row.roww_2 {
    justify-content: center;
    flex-wrap:nowrap;
  }
  .banner_v2 .card_item > div {
    height: 300px;
  }
  .banner_v2 .right_col.horizontal_flow .card_item div {
    height: 100px;
  }

}

