.kore-boldcast-three-column-cards {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.kore-boldcast-three-column-cards .heading {
  display: inline-block;
  margin-bottom: 30px;
  
}

.kore-boldcast-three-column-cards .heading .line {
  width: 60px;
  height: 5px;
  background-color: #f03d63;
}

.kore-boldcast-three-column-cards .flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -20px;
}

.kore-boldcast-three-column-cards .flex .col {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 20px 20px;

}

.card-wrap {
  position: relative;
  height: 100%;
  background-color: #f9f9f9;
  box-shadow: 0 7px 6px -3px rgba(0, 0, 0, 0.2);
}

.kore-boldcast-three-column-cards .blog-poly-1 {
  position: absolute;
  left: -20px;
  top: -35px;
  right: auto;
  bottom: auto;
}

.kore-boldcast-three-column-cards .blog-poly-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -22px;
  bottom: -12px;
}

.card-inner-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #f03d63;
}

.kore-boldcast-three-column-cards .card-body {
  background-color: #fff;
  padding: 20px 20px 30px;
}

.kore-boldcast-three-column-cards .inner-flex .image {
  margin-bottom: 20px;
}

.kore-boldcast-three-column-cards .inner-flex .content {
  font-size: 14px; 
}

.kore-boldcast-three-column-cards .card-inner-wrapper .image {
  position: relative;
}

.kore-boldcast-three-column-cards .card-inner-wrapper .image img {
  height: 250px !important;
  object-fit: cover;
  width: 100%; 
}

.kore-boldcast-three-column-cards .card-inner-wrapper .blog-category-tag {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #f03d63;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.kore-boldcast-three-column-cards .card-inner-wrapper .blog-category-tag:hover {
  background-color: #f3772c;
  color: #fff !important;
}

.kore-boldcast-three-column-cards #cta .cta_button,
.kore-boldcast-three-column-cards .simple a {
  padding: 13px 30px !important;
}

@media(max-width:1139px) {
  
  .kore-boldcast-three-column-cards .blog-poly-2 {
    right: -20px;
  }
  
}

@media(max-width:767px) {
  
  .kore-boldcast-three-column-cards .flex .col,
  .kore-boldcast-three-column-cards .inner-flex .inner-col {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .kore-boldcast-three-column-cards .inner-flex .inner-col.image {
     margin-bottom: 15px;
  }
  
}