html, 
body {
  overflow-x: initial !important;
}

.kr-sticky-subscribe-sticky {
	position: -webkit-sticky;
	position: sticky;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 3000;
}

.kr-sticky-subscribe {
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	padding: 20px 0 0;
  border: 0;
}

.kr-sticky-subscribe .page-width {
	max-width: 900px !important;
	margin: 0 auto;
	padding: 0 20px;
}

.kr-sticky-subscribe .flex {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.kr-sticky-subscribe .flex .col {
	flex: 1;
	padding: 0 20px;
}

.kr-sticky-subscribe .flex .col:first-child {
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 30%;
}

.kr-sticky-subscribe .list-inline a {
	width: 45px;
	height: 45px;
	border-radius: 50px;
	background-color: #87946B;
	background-position: 50% 50%;
	background-size: 20px;
	background-image: url(https://cdn2.hubspot.net/hubfs/6357977/Orlo/Images/fb-logo.svg);
	background-repeat: no-repeat;
	max-width: 100%;
	display: inline-block;
}

.kr-sticky-subscribe .list-inline a.tw {
	background-image: url(https://cdn2.hubspot.net/hubfs/6357977/Orlo/Images/tw-icon.png);
}

.kr-sticky-subscribe .list-inline a.in {
	background-image: url(https://cdn2.hubspot.net/hubfs/6357977/Orlo/Images/in-icon.svg);
}

.kr-sticky-subscribe .list-inline a.email {
	background-image: url(https://cdn2.hubspot.net/hubfs/6357977/Orlo/Images/email-icon.svg);
	background-size: 25px
}

.kr-sticky-subscribe .list-inline a:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.kr-sticky-subscribe .list-inline {
	padding-left: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.kr-sticky-subscribe .list-inline-item {
	display: inline-block;
}

.kr-sticky-subscribe .list-inline-item:not(:last-child) {
	margin-right: 10px;
}

.kr-sticky-subscribe .form .hs-form-required {
	display: none;
}

.kr-sticky-subscribe .form .form-title {
	display: none;
}

.kr-sticky-subscribe .form .legal-consent-container {
	display: none;
}

.kr-sticky-subscribe .form .hs_email {
	float: left;
	width: 75%;
}

.kr-sticky-subscribe .form .hs_email input {
	padding: 10px 12px;
	font-size: 12px;
  height: auto;
  border-radius: 0;
  width: 100%;
  height: 40px;
  border: 1px solid #cecece;
}
.kr-sticky-subscribe .form .hs_email input:focus{
  outline: none;
}

.kr-sticky-subscribe .form .hs_email>label {
	display: none;
}

.kr-sticky-subscribe .form .hs-submit {
	float: left;
	width: 25%;
}

.kr-sticky-subscribe .form .hs-submit input {
  margin-top: 0;
	display: inline-block;
	font-weight: 400;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #002D56;
	border: 1px solid transparent;
	padding: 10px 5px !important;
	font-size: 12px !important;
	line-height: 1.5;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-radius: 0;
	width: 100%;
  min-width: 100%;
  height: 40px;
}

.kr-sticky-subscribe .form .hs-submit input:hover {
  transform: none !important;
  background-color: #87946B!important;
}

.kr-sticky-subscribe .form .hs_error_rollup {
  display: none;
}

.kr-sticky-subscribe .form .hs-error-msgs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kr-sticky-subscribe .form .hs-error-msg {
	font-size: 12px;
  color: red;
  line-height: 15px;
}

.kr-sticky-subscribe .submitted-message {
  padding: 0;
  color: #fff;
}

.kr-sticky-subscribe .form-flex {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin: 0 -20px;
} 
 
.kr-sticky-subscribe .form-flex .col {
	flex: 1;
	padding: 0 20px;
}

.kr-sticky-subscribe .form-flex .col:first-child {
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	max-width: 45%;
}

.kr-sticky-subscribe .form-flex h3 {
	font-size: 19px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: none;
	margin-top: 0; 
}

.kr-sticky-subscribe .newsletter-text,
.kr-sticky-subscribe .newsletter-text * {
  font-size: 12px;
}

@media(max-width:1139px){

  .kr-sticky-subscribe .flex .col.form-container {
    display: none;
  }

  .kr-sticky-subscribe .flex .col.lists {
    text-align: center;
  }

  .kr-sticky-subscribe .list-inline {
    justify-content: center;
  }

  .kr-sticky-subscribe .flex .col:first-child {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

}